    
    /* Global Common */
    .width1596 {max-width: 1596px; width: 100%; margin-right: auto; margin-left: auto;}
    section h3 {font-size: 24px; color: #fff; line-height: 35px; text-indent: 30px; text-shadow: 0 0 5px #4c66ba, 0 0 5px #000; position: relative; margin-bottom: 40px;}
    section {margin-bottom: 100px;}
    
    ul > li a span {display: inline-block; padding: 0 5px; line-height: 1; position: relative;}
    ul > li a span::after {content: ''; position: absolute; left: 50%; bottom: -10px; width: 0; height: 1px; background-color: #647ab3; transition-duration: 0.5s; transition-property: width, left;}
    ul > li:hover > a span::after, .subMenu ul li a span.active::after {left: 0; width: 100%;}
    .subMenu ul li a span::after {background-color: #fff;}
    

    /* Header */
    header div::after {content: ''; display: block; visibility: hidden; clear: both;}
    header div h1 {float: left; line-height: 0; width: 14.85%;}
    header div nav {text-align: center; float: right;}
    header div nav > ul::after {content: ''; display: block; visibility: hidden; clear: both;}
    header div nav > ul > li {float: left; position: relative;}
    header div nav > ul > li:last-child {background: #8fafff; border: 1px solid #4c66ba; box-sizing: border-box;}
    header div nav > ul > li:last-child > a {padding: 0 31.5px; line-height: 73px;}
    header div nav ul li a {width: 175px; display: block; color: #000; font-size: 20px;}
    header div nav > ul > li > a {font-weight: bold; line-height: 75px;}
    header div nav > ul > li:hover > ul {opacity: 1; visibility: visible; transform: translateY(0%); border-top: 1px solid rgba(0, 0, 0, 0.2) ; }
    header div nav > ul > li > ul {position: absolute; background-color: #fff; opacity: 0; top: 75px; z-index: 5; left: 0; visibility: hidden; transform: translateY(-10px); transition: transform 0.3s, visibility 0.2s, opacity 0s;}
    header div nav > ul > li > ul li {padding: 10px 0 20px 0;}
    header div nav > ul > li > ul li a {line-height: 30px; opacity: 0.7; letter-spacing: -1px; word-spacing: -1.5px;}
    header div nav > ul > li > ul li:first-child {padding-top: 20px;}
    header div nav > ul > li > ul li:hover a {opacity: 1;}

    /* Footer */
    footer {background: #070a1a;}
    footer div {display: flex; justify-content: space-between; align-items: center;}
    footer div img {width: 21.95%;}
    footer div address {width: 42.85%; color: #fff; font-size: 16px; line-height: 25px; display: block; margin: 187.5px 0; font-style: normal;}
    
    /* SubMenu */
    .subMenu {background: url("../images/subMenuBG.png") no-repeat center center; text-align: center; margin-bottom: 20px;}
    .subMenu h2 {font-size: 40px; font-weight: bold; line-height: 50px; color: #fff; padding: 130px 0 35px 0;}
    .subMenu ul {margin: 0 auto; width: fit-content;}
    .subMenu ul::after {content: ''; display: block; visibility: hidden; clear: both;}
    .subMenu ul li {float: left; padding: 30px 22.5px;}
    .subMenu ul li a {font-size: 16px; line-height: 50px; color: #fff; display: block;}
