header div nav ul li > ul {display: none;}
header div nav ul li:hover > ul {display: block;}
body > div {width: 100vw; position: relative; left: 50%; margin: 0 -50vw;}
.bx-wrapper {box-shadow: none; border: none; margin: 0 auto;}
.bx-wrapper .bx-pager {bottom: 30px;}
.bx-wrapper .bx-pager.bx-default-pager a {width: 250px; border-radius: 0; background: white;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {background: violet;}
div.slider img {width: 100vw; height: 800px; object-fit: cover;}

body > div > h2 {
    background: url("../img/logo/logo_xiv03.png") no-repeat left top; 
    display: block; 
    padding: 280px 0 100px 165px; 
    font-family: 'Noto sans KR'; 
    font-size: 55px; 
    line-height: 65px; 
    font-weight: bold;
    position: absolute;
    top: 110px;
    left: 325px;
    text-shadow: 4px 4px 5px black;
    color: white;
}

/* body > div > h2 img {filter: drop-shadow(4px 4px black);} */

body section, footer {margin-top: 100px;}
section h2 {text-indent: -9999px;}
section a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Noto Sans KR';
    font-size: 40px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    text-shadow: 4px 4px 5px black;
    width: calc((100% - 20px)/2);
    text-align: center;
    box-sizing: border-box;
}
section a:nth-of-type(1) {background: url("../img/outsite.jpg") no-repeat center center; padding: 25px 0px 25px 350px;}