
/* Main page */
div.mainSlider h2, div.officialSite a {color: #fff; font-weight: bold; text-shadow: 1px 2px 5px #000, -2px -1px 5px #000;}

div.mainSlider {z-index: 1; position: relative;}
div.mainSlider h2 {background: url("../images/simpleXivLogo.png") no-repeat left top; position: absolute; font-size: 55px; line-height: 65px; padding: 300px 0 90px 150px; top: calc(45% - 260px); left: 15%;}
div.mainSlider div.slider div {width: 100%; height: 800px; background-repeat: no-repeat; background-position: center center;}
.bx-wrapper {box-shadow: none; border: none; margin-bottom: 0;}
.bx-wrapper .bx-pager {bottom: 30px; max-width: 1596px; width: 100%; margin: 0 auto; left: 0; right: 0;}
.bx-wrapper .bx-pager::after {content: ''; display: block; visibility: hidden; clear: both;}
.bx-pager-item {float: left; width: calc(100% / 7);}
.bx-wrapper .bx-pager.bx-default-pager a {background: #fff; opacity: 0.7; width: 95%; margin: 0 auto;}

div.mainSlider div.slider div.sliderImg01 {background-image: url("../images/mainSlider01.png");}
div.mainSlider div.slider div.sliderImg02 {background-image: url("../images/mainSlider02.png");}
div.mainSlider div.slider div.sliderImg03 {background-image: url("../images/mainSlider03.png");}
div.mainSlider div.slider div.sliderImg04 {background-image: url("../images/mainSlider04.png");}
div.mainSlider div.slider div.sliderImg05 {background-image: url("../images/mainSlider05.png");}
div.mainSlider div.slider div.sliderImg06 {background-image: url("../images/mainSlider06.png");}
div.mainSlider div.slider div.sliderImg07 {background-image: url("../images/mainSlider07.png");}

div.officialSite {padding: 100px 0;}
div.officialSite::after {content: ''; display: block; visibility: hidden; clear: both;}
div.officialSite h2 {font-size: 0;}
div.officialSite a {font-size: 40px; line-height: 50px; text-align: center; box-sizing: border-box; display: block; float: left; width: calc((100% - 20px) / 2); background-repeat: no-repeat; background-position: center center; padding: 25px 0;}
div.officialSite a:nth-of-type(1) {background-image: url("../images/oficialSite01.png");}
div.officialSite a:nth-of-type(2) {background-image: url("../images/oficialSite02.png");}
div.officialSite a:nth-of-type(2n-1) {padding-left: 23.45%;}
div.officialSite a:nth-of-type(2n) {margin-left: 20px; padding-right: 23.45%;}

/* Trailer Page */
section:not(.trailerVideo) h3::after {content: ''; height: 1px; background-color: #4c66ba; width: 100%; position: absolute; left: 0; bottom: -20px;}
section:not(.trailerVideo) h3 {width: 100%; display: block;}
.trailerVideo {background: url("../images/trailerLogoBg01test.png") no-repeat fixed center center; position: relative; text-align: center;}
.trailerVideo h3 {font-size: 0;}
.trailerVideo img {padding: 45px 0; width: 100%; max-width: 1100px; margin: 0 auto;}
.trailerVideo div div iframe {visibility: hidden; position: absolute; width: 80%; height: 750px; top: 50%; left: 0; right: 0; margin: 0 auto; transform: translateY(-50%);}

.ingameVideo {display: flex; flex-wrap: wrap;}
.ingameVideo::after {content: ''; display: block; visibility: hidden; clear: both;}
.ingameVideo ul.tabContent {width: 79%; height: 715px; overflow: hidden; float: left; position: relative;}
.ingameVideo ul.tabContent li {width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.ingameVideo ul.tabContent li {display: none;}
.ingameVideo ul.tabContent li.active {display: block;}
.ingameVideo ul.tabContent li iframe { width: 100%; height: 100%;}

.ingameVideo ul.tabControl {width: 19.75%; margin-left: 1.25%; float: right; display: flex; flex-direction: column; justify-content: center;}
.ingameVideo ul.tabControl li:not(:last-child) {margin-bottom: 20px;}
.ingameVideo ul.tabControl li a {font-size: 16px; font-weight: 500; color: rgba(255, 255, 255, 0.8); line-height: 140px; text-align: center; display: block; background-color: rgba(0, 0, 0, 0.65);}
.ingameVideo ul.tabControl li:hover a, .ingameVideo ul.tabControl li.active a {color: #fff; text-shadow: 1px 2px 5px #000, -2px -1px 5px #000; background-color: rgba(0, 0, 0, 0.25);}

.ingameVideo ul.tabControl li:nth-child(1) {background: url("../images/gamePlayMenu01.png") no-repeat center center;}
.ingameVideo ul.tabControl li:nth-child(2) {background: url("../images/gamePlayMenu02.png") no-repeat center center;}
.ingameVideo ul.tabControl li:nth-child(3) {background: url("../images/gamePlayMenu03.png") no-repeat center center;}
.ingameVideo ul.tabControl li:nth-child(4) {background: url("../images/gamePlayMenu04.png") no-repeat center center;}

.ingamePhoto div {display: flex; flex-wrap: wrap; width: 100%; justify-content: space-between; overflow: hidden;}
.ingamePhoto div div div.flexBox01 {width: 60.75%; flex-direction: column;}
.ingamePhoto div div div.flexBox01 img:first-of-type {height: 455px;}
.ingamePhoto div div div.flexBox01 img:last-of-type {height: 280px;}
.ingamePhoto div div.flexBox02 {margin-bottom: 20px;}
.ingamePhoto div div.flexBox02 > img {width: 38%; height: 755px;}
.ingamePhoto div div:nth-child(2) {width: 100%; height: 355px; margin-bottom: 20px;}
.ingamePhoto div div:nth-child(5) img {width: calc(98.75% / 2); height: 370px;}


