@media screen and (min-width: 1280px) {
    /* Main page */
    div.mainSlider h2,
    div.officialSite a {text-shadow: 1px 2px 5px #000, -2px -1px 5px #000;}

    div.mainSlider {z-index: 1; position: relative;}
    div.mainSlider h2 {position: absolute; font-size: 55px; line-height: 65px; padding: 300px 0 90px 150px; top: calc(45% - 260px); left: 15%;}
    div.mainSlider div.slider div {width: 100%; height: 800px;}
    div.mainSlider .bx-wrapper .bx-pager {bottom: 30px; max-width: 1596px; width: 100%; margin: 0 auto; left: 0; right: 0;}
    div.mainSlider .bx-wrapper .bx-pager::after {content: ''; display: block; visibility: hidden; clear: both;}
    div.mainSlider .bx-pager-item {float: left; width: calc(100% / 7);}
    div.mainSlider .bx-wrapper .bx-pager.bx-default-pager a {background: #fff; opacity: 0.7; width: 95%; margin: 0 auto;}
    div.mainSlider .bx-wrapper .bx-pager.bx-default-pager a:hover,
    div.mainSlider .bx-wrapper .bx-pager.bx-default-pager a.active,
    div.mainSlider .bx-wrapper .bx-pager.bx-default-pager a:focus {background-color: #000;}

    div.officialSite {padding: 100px 0;}
    div.officialSite::after {content: ''; display: block; visibility: hidden; clear: both;}
    div.officialSite h2 {font-size: 0; line-height: 0;}
    div.officialSite a {color: #fff; font-weight: bold; font-size: 40px; line-height: 50px; text-align: center; box-sizing: border-box; display: block; width: calc((100% - 20px) / 2); padding: 25px 0;}
    div.officialSite a:nth-of-type(2n-1) {padding-left: 23.45%; float: left;}
    div.officialSite a:nth-of-type(2n) {padding-right: 23.45%; float: right;}

    /* Trailer Page */
    .trailerVideo {background-attachment: fixed; text-align: center; position: relative;}
    .trailerVideo h3 {font-size: 0; line-height: 0; margin: 0;}
    .trailerVideo h3::after,
    .jobInfo h3::after {width: 0;}
    .trailerVideo img {padding: 45px 0; width: 100%; max-width: 1100px; margin: 0 auto; transform: scale(0.95); transition: transform 1s;}
    .trailerVideo img:hover {transform: scale(1); cursor: pointer;}

    .trailerVideo div.popup {visibility: hidden; background-color: rgba(0, 0, 0, 0.85); z-index: 20; position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
    .trailerVideo div.popup div {position: relative; width: 80%; height: 80%;}
    .trailerVideo div.popup div span {position: absolute; top: -5%; right: 0; cursor: pointer; height: 10px; width: 40px;}
    .trailerVideo div.popup div span::before,
    .trailerVideo div.popup div span::after {content: ''; position: absolute; top: 10%; left: 0; height: 100%; width: 100%; background-color: rgba(255, 255, 255, 1);}
    .trailerVideo div.popup div span::before {transform: rotate(45deg);}
    .trailerVideo div.popup div span::after {transform: rotate(-45deg);}
    .trailerVideo div.popup div iframe {width: 100%; height: 100%;}

    .ingameVideo,
    .jobIntro {display: flex; flex-wrap: wrap;}
    .ingameVideo ul.tabContent li iframe {width: 100%; height: 100%;}

    .ingamePhoto ul {display: block; width: 100%;}
    .ingamePhoto ul::after {display: block; visibility: hidden; clear: both; content: '';}
    .ingamePhoto ul li {width: calc((100% - 20px) / 2); float: left; margin-bottom: 20px; overflow: hidden; background-size: cover; text-indent: -9999px;}

    .ingamePhoto ul li:nth-child(1) {width: 60.75%; height: 455px;}
    .ingamePhoto ul li:nth-child(2) {width: 38%; height: 755px; float: right;}
    .ingamePhoto ul li:nth-child(3) {width: 60.75%; height: 280px;}
    .ingamePhoto ul li:nth-child(4) {width: 100%; height: 355px;}
    .ingamePhoto ul li:nth-child(5) {height: 370px; margin-bottom: 0;}
    .ingamePhoto ul li:nth-child(6) {height: 370px; margin-bottom: 0; float: right;}

    /* Job Page */

    .jobIntro ul.tabContent {color: #fff;} 
    .jobIntro ul.tabContent strong {font-size: 40px; margin-bottom: 10px; display: flex; align-items: flex-end;}
    .jobIntro ul.tabContent small {font-size: 16px; margin-left: 20px;}
    .jobIntro ul.tabContent li {padding: 100px 30px; box-sizing: border-box; background-position: 200px 0;}
    .jobIntro ul.tabContent li div {width: 60%; height: 100%; display: flex; flex-direction: column; text-shadow: 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black;}
    .jobIntro ul.tabContent li div p {letter-spacing: -0.5px;}
    .jobIntro ul.tabContent li div p:nth-of-type(1) {line-height: 1; margin-bottom: 20px;}
    .jobIntro ul.tabContent li div p:nth-of-type(2) {width: 85%; margin-top: auto;}
    .jobIntro ul.tabContent li div figure img {float: left; width: 15.25%;}
    .jobIntro ul.tabContent li div figure figcaption {color: #fff; font-size: 16px; line-height: 25px; margin-left: calc(15.25% + 30px);}
    .jobIntro ul.tabContent li div figure figcaption dl {display: flex;}
    .jobIntro ul.tabContent li div figure figcaption dl dd {margin-left: 20px;}
    .jobIntro ul.tabContent li div figure figcaption dl dd:not(:last-child) {margin-bottom: 10px;}

    .jobIntro div.bx-wrapper {width: 100%; margin: 0;}
    .jobIntro div.bx-wrapper .bx-viewport {margin: 0;}

    /* Other Page */
    .otherContent section {display: flex; justify-content: space-between;}
    .otherContent section div {width: calc((100% - 20px) / 2)}
    .otherContent section div div {width: 100%; height: calc(100% - 75px); display: flex; flex-direction: column; justify-content: center;}
    .otherContent section div div p {text-align: center;}
    .otherContent section div div p:not(:last-child) {margin-bottom: 25px;}
    .otherContent section ul {display: flex; justify-content: space-between; align-content: space-between; flex-wrap: wrap; width: 100%; height: 390px;}
    .otherContent section:nth-of-type(even) {flex-direction: row-reverse;}
    .otherContent section ul li {background-size: cover; width: calc((100% - 20px) / 2); height: calc((100% - 20px) / 2); border-radius: 5px; text-indent: -9999px;}

    .otherContent section#mendervile ul {flex-direction: column;}
    .otherContent section#mendervile ul li:nth-child(1) {height: 100%;}
    .otherContent section#housing ul li:nth-child(1) {width: 100%;}
    .otherContent section#freeComp ul li {height: 100%;}
    .otherContent section#free60 ul li {width: 100%; height: 100%;}

}
@media screen and (min-width: 641px) and (max-width: 1279px) {
    div.mainSlider h2,
    div.officialSite a {text-shadow: 1px 2px 5px #000, -2px -1px 5px #000;}

    div.mainSlider {z-index: 1; position: relative;}
    div.mainSlider h2 {background-position: left top; background-size: 65% 90%; position: absolute; font-size: 60px; line-height: 70px; padding: 20% 0 0 5%; top: 25%; left: 5%;}
    div.mainSlider div.slider div {width: 100%; height: 610px; background-position-x: 65%; background-size: cover;}
    div.mainSlider .bx-wrapper .bx-pager {bottom: 30px;}
    div.mainSlider .bx-pager-item {width: 5%;}
    div.mainSlider .bx-pager-item:not(:first-child) {margin-left: 5%;}
    div.mainSlider .bx-wrapper .bx-pager.bx-default-pager a {background: rgb(160, 160, 160); opacity: 0.7; width: 100%; margin: 0 auto;}
    div.mainSlider .bx-wrapper .bx-pager.bx-default-pager a:hover,
    div.mainSlider .bx-wrapper .bx-pager.bx-default-pager a.active,
    div.mainSlider .bx-wrapper .bx-pager.bx-default-pager a:focus {background-color: rgb(255, 255, 255); opacity: 1;}

    div.officialSite {padding: 50px 0;}
    div.officialSite::after {content: ''; display: block; visibility: hidden; clear: both;}
    div.officialSite h2 {line-height: 0; font-size: 0;}
    div.officialSite a {color: #fff; font-weight: bold; font-size: 20px; line-height: 30px; text-align: center; box-sizing: border-box; display: block; width: calc((100% - 20px) / 2); padding: 15px 0; border-radius: 0.5em; background-size: cover;}
    div.officialSite a:nth-of-type(2n-1) {padding-left: 23.45%; float: left;}
    div.officialSite a:nth-of-type(2n) {padding-right: 23.45%; float: right;}

    /* Trailer Page */
    .trailerVideo h3 {font-size: 0; line-height: 0; margin: 0;}
    .trailerVideo h3::after,
    .jobInfo h3::after {width: 0;}
    .trailerVideo img {padding: 45px 0; width: 100%; max-width: 1100px; margin: 0 auto; transform: scale(0.95); transition: transform 1s;}
    .trailerVideo img:hover {transform: scale(1);}

    .trailerVideo div.popup {visibility: hidden; background-color: rgba(0, 0, 0, 0.85); z-index: 20; position: fixed; top: 0; left: 0; width: 640px; height: 100vh; display: flex; justify-content: center; align-items: center;}
    .trailerVideo div.popup div {position: relative; width: 80%; height: 40%;}
    .trailerVideo div.popup div span {position: absolute; top: -10%; right: 0; cursor: pointer; height: 10px; width: 40px;}
    .trailerVideo div.popup div span::before,
    .trailerVideo div.popup div span::after {content: ''; position: absolute; top: 10%; left: 0; height: 100%; width: 100%; background-color: rgba(255, 255, 255, 1);}
    .trailerVideo div.popup div span::before {transform: rotate(45deg);}
    .trailerVideo div.popup div span::after {transform: rotate(-45deg);}
    .trailerVideo div.popup div iframe {width: 100%; height: 100%;}

    .ingameVideo,
    .jobIntro {display: flex; flex-wrap: wrap; flex-direction: column;}
    .ingameVideo ul.tabContent li iframe {width: 100%; height: 100%;}

    .ingamePhoto ul {display: block; width: 100%;}
    .ingamePhoto ul::after {display: block; visibility: hidden; clear: both; content: '';}
    .ingamePhoto ul li {width: calc((100% - 20px) / 2); height: 170px; float: left; margin-bottom: 20px; overflow: hidden; background-size: cover; text-indent: -9999px;}
    .ingamePhoto ul li:nth-child(even) {float: right;}

    /* Job Page */

    .jobIntro ul.tabContent {height: 600px; color: #fff;} 
    .jobIntro ul.tabContent strong {font-size: 40px; margin-bottom: 10px; display: flex; align-items: flex-end;}
    .jobIntro ul.tabContent small {font-size: 16px; margin-left: 20px;}
    .jobIntro ul.tabContent li {padding: 50px 20px; box-sizing: border-box; background-position: 80%;}
    .jobIntro ul.tabContent li div {width: 60%; height: 100%; display: flex; flex-direction: column; text-shadow: 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black;}
    .jobIntro ul.tabContent li p {letter-spacing: -0.5px;}
    .jobIntro ul.tabContent li p:nth-of-type(1) {line-height: 1; margin-bottom: 20px;}
    .jobIntro ul.tabContent li p:nth-of-type(2) {margin-top: auto;}
    .jobIntro ul.tabContent li figure img {float: left; width: 15.25%;}
    .jobIntro ul.tabContent li figure figcaption {color: #fff; font-size: 16px; line-height: 25px; margin-left: calc(15.25% + 20px);}
    .jobIntro ul.tabContent li figure figcaption dl {display: flex;}
    .jobIntro ul.tabContent li figure figcaption dl dd {margin-left: 20px;}
    .jobIntro ul.tabContent li figure figcaption dl:not(:last-child) {margin-bottom: 10px;}
    .jobIntro ul.tabContent li figure p {width: 85%; margin-top: auto;}

    .jobIntro div.bx-wrapper {width: 100%; margin: 0;}
    .jobIntro div.bx-wrapper .bx-viewport {margin: 0;}

    .jobIntro div.tabControl ul li {background-position: center 25%;}

    /* Other Page */
    .otherContent div {width: 100%;}
    .otherContent section {display: none;}
    .otherContent section.active {display: block;}
    .otherContent section > div:not(:last-child) {margin-bottom: 20px;}
    .otherContent section > div:last-child {height: 400px; width: 80%; padding: 0 10%; overflow: scroll;}
    .otherContent section div div {width: 90%; margin: 0 auto; text-align: center; }
    .otherContent section div div p:not(:last-child) {margin-bottom: 20px;}
    .otherContent section:nth-child(1) div ul {width: calc((480px * 4) + (20px * 3));}
    .otherContent section:nth-child(2) div ul {width: calc((480px * 3) + (20px * 2));}
    .otherContent section:nth-child(3) div ul {width: calc((480px * 3) + (20px * 2));}
    .otherContent section:nth-child(4) div ul {width: calc((480px * 2) + 20px);}
    .otherContent section:nth-child(5) div ul {width: 100%;}
    
    .otherContent section ul {height: 100%;}
    .otherContent section ul::after {display: block; content: ''; visibility: hidden; clear: both;}
    .otherContent section ul li {width: 480px; height: 100%; float: left; background-size: cover; border-radius: 30px; text-indent: -9999px;}
    .otherContent section ul li:not(:first-child) {margin-left: 20px;}
}
@media screen and (max-width: 640px) {
    /* Main page */
    div.mainSlider h2,
    div.officialSite a {text-shadow: 1px 2px 5px #000, -2px -1px 5px #000;}

    div.mainSlider {z-index: 1; position: relative;}
    div.mainSlider h2 {background-position: left top; background-size: 65% 90%; position: absolute; font-size: 60px; line-height: 70px; padding: 30% 0 0 5%; top: 25%; left: 5%;}
    div.mainSlider div.slider div {width: 100%; height: 610px; background-position-x: 65%; background-size: cover;}
    div.mainSlider .bx-wrapper .bx-pager {bottom: 30px;}
    div.mainSlider .bx-pager-item {width: 5%;}
    div.mainSlider .bx-pager-item:not(:first-child) {margin-left: 5%;}
    div.mainSlider .bx-wrapper .bx-pager.bx-default-pager a {background: rgb(160, 160, 160); opacity: 0.7; width: 100%; margin: 0 auto;}
    div.mainSlider .bx-wrapper .bx-pager.bx-default-pager a:hover,
    div.mainSlider .bx-wrapper .bx-pager.bx-default-pager a.active,
    div.mainSlider .bx-wrapper .bx-pager.bx-default-pager a:focus {background-color: rgb(255, 255, 255); opacity: 1;}

    div.officialSite {padding: 50px 0;}
    div.officialSite::after {content: ''; display: block; visibility: hidden; clear: both;}
    div.officialSite h2 {line-height: 0; font-size: 0;}
    div.officialSite a {color: #fff; font-weight: bold; font-size: 20px; line-height: 30px; text-align: center; box-sizing: border-box; display: block; width: calc((100% - 20px) / 2); padding: 15px 0; border-radius: 0.5em; background-size: cover;}
    div.officialSite a:nth-of-type(2n-1) {padding-left: 23.45%; float: left;}
    div.officialSite a:nth-of-type(2n) {padding-right: 23.45%; float: right;}

    /* Trailer Page */
    .trailerVideo h3 {font-size: 0; line-height: 0; margin: 0;}
    .trailerVideo h3::after,
    .jobInfo h3::after {width: 0;}
    .trailerVideo img {padding: 45px 0; width: 100%; max-width: 1100px; margin: 0 auto; transform: scale(0.95); transition: transform 1s;}
    .trailerVideo img:hover {transform: scale(1);}

    .trailerVideo div.popup {visibility: hidden; background-color: rgba(0, 0, 0, 0.85); z-index: 20; position: fixed; top: 0; left: 0; width: 640px; height: 100vh; display: flex; justify-content: center; align-items: center;}
    .trailerVideo div.popup div {position: relative; width: 80%; height: 40%;}
    .trailerVideo div.popup div span {position: absolute; top: -10%; right: 0; cursor: pointer; height: 10px; width: 40px;}
    .trailerVideo div.popup div span::before,
    .trailerVideo div.popup div span::after {content: ''; position: absolute; top: 10%; left: 0; height: 100%; width: 100%; background-color: rgba(255, 255, 255, 1);}
    .trailerVideo div.popup div span::before {transform: rotate(45deg);}
    .trailerVideo div.popup div span::after {transform: rotate(-45deg);}
    .trailerVideo div.popup div iframe {width: 100%; height: 100%;}

    .ingameVideo,
    .jobIntro {display: flex; flex-wrap: wrap; flex-direction: column;}
    .ingameVideo ul.tabContent li iframe {width: 100%; height: 100%;}

    .ingamePhoto ul {display: block; width: 100%;}
    .ingamePhoto ul::after {display: block; visibility: hidden; clear: both; content: '';}
    .ingamePhoto ul li {width: calc((100% - 20px) / 2); height: 170px; float: left; margin-bottom: 20px; overflow: hidden; background-size: cover; text-indent: -9999px;}
    .ingamePhoto ul li:nth-child(even) {float: right;}

    /* Job Page */

    .jobIntro ul.tabContent {height: 600px; color: #fff;} 
    .jobIntro ul.tabContent strong {font-size: 40px; margin-bottom: 10px; display: flex; align-items: flex-end;}
    .jobIntro ul.tabContent small {font-size: 16px; margin-left: 20px;}
    .jobIntro ul.tabContent li {padding: 50px 20px; box-sizing: border-box; background-position: 80%;}
    .jobIntro ul.tabContent li div {width: 60%; height: 100%; display: flex; flex-direction: column; text-shadow: 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black;}
    .jobIntro ul.tabContent li p {letter-spacing: -0.5px;}
    .jobIntro ul.tabContent li p:nth-of-type(1) {line-height: 1; margin-bottom: 20px;}
    .jobIntro ul.tabContent li p:nth-of-type(2) {margin-top: auto;}
    .jobIntro ul.tabContent li figure img {float: left; width: 15.25%;}
    .jobIntro ul.tabContent li figure figcaption {color: #fff; font-size: 16px; line-height: 25px; margin-left: calc(15.25% + 20px);}
    .jobIntro ul.tabContent li figure figcaption dl {display: flex;}
    .jobIntro ul.tabContent li figure figcaption dl dd {margin-left: 20px;}
    .jobIntro ul.tabContent li figure figcaption dl:not(:last-child) {margin-bottom: 10px;}
    .jobIntro ul.tabContent li figure p {width: 85%; margin-top: auto;}

    .jobIntro div.bx-wrapper {width: 100%; margin: 0;}
    .jobIntro div.bx-wrapper .bx-viewport {margin: 0;}

    .jobIntro div.tabControl ul li {background-position: center 25%;}

    /* Other Page */
    .otherContent div {width: 100%;}
    .otherContent section {display: none;}
    .otherContent section.active {display: block;}
    .otherContent section > div:not(:last-child) {margin-bottom: 20px;}
    .otherContent section > div:last-child {height: 400px; width: 80%; padding: 0 10%; overflow: scroll;}
    .otherContent section div div {width: 90%; margin: 0 auto; text-align: center; }
    .otherContent section div div p:not(:last-child) {margin-bottom: 20px;}
    .otherContent section:nth-child(1) div ul {width: calc((480px * 4) + (20px * 3));}
    .otherContent section:nth-child(2) div ul {width: calc((480px * 3) + (20px * 2));}
    .otherContent section:nth-child(3) div ul {width: calc((480px * 3) + (20px * 2));}
    .otherContent section:nth-child(4) div ul {width: calc((480px * 2) + 20px);}
    .otherContent section:nth-child(5) div ul {width: 100%;}
    
    .otherContent section ul {height: 100%;}
    .otherContent section ul::after {display: block; content: ''; visibility: hidden; clear: both;}
    .otherContent section ul li {width: 480px; height: 100%; float: left; background-size: cover; border-radius: 30px; text-indent: -9999px;}
    .otherContent section ul li:not(:first-child) {margin-left: 20px;}
}
    
    /* 이하 공통 백그라운드 이미지들 */
    /* Main page */
    div.mainSlider h2 {background-image: url("../images/simpleXivLogo.png"); background-position: left top;}

    div.mainSlider div.slider div.sliderImg01 {background-image: url("../images/main/mainSlider01.png");}
    div.mainSlider div.slider div.sliderImg02 {background-image: url("../images/main/mainSlider02.png");}
    div.mainSlider div.slider div.sliderImg03 {background-image: url("../images/main/mainSlider03.png");}
    div.mainSlider div.slider div.sliderImg04 {background-image: url("../images/main/mainSlider04.png");}
    div.mainSlider div.slider div.sliderImg05 {background-image: url("../images/main/mainSlider05.png");}
    div.mainSlider div.slider div.sliderImg06 {background-image: url("../images/main/mainSlider06.png");}
    div.mainSlider div.slider div.sliderImg07 {background-image: url("../images/main/mainSlider07.png");}
   
    div.officialSite a:nth-of-type(1) {background-image: url("../images/main/oficialSite01.png");}
    div.officialSite a:nth-of-type(2) {background-image: url("../images/main/oficialSite02.png");}

    /* Trailer Page */
    .trailerVideo.RR {background-image: url("../images/trailer/trailerLogoBg01.png");}
    .trailerVideo.HW {background-image: url("../images/trailer/trailerLogoBg02.png");}
    .trailerVideo.ST {background-image: url("../images/trailer/trailerLogoBg03.png");}
    .trailerVideo.SB {background-image: url("../images/trailer/trailerLogoBg04.png");}

    .ingameVideo.RR div.tabControl ul li:nth-child(1) {background-image: url("../images/trailer/gamePlayMenu01_01.png");}
    .ingameVideo.RR div.tabControl ul li:nth-child(2) {background-image: url("../images/trailer/gamePlayMenu01_02.png");}
    .ingameVideo.RR div.tabControl ul li:nth-child(3) {background-image: url("../images/trailer/gamePlayMenu01_03.png");}
    .ingameVideo.RR div.tabControl ul li:nth-child(4) {background-image: url("../images/trailer/gamePlayMenu01_04.png");}

    .ingameVideo.HW div.tabControl ul li:nth-child(1) {background-image: url("../images/trailer/gamePlayMenu02_01.png");}
    .ingameVideo.HW div.tabControl ul li:nth-child(2) {background-image: url("../images/trailer/gamePlayMenu02_02.png");}
    .ingameVideo.HW div.tabControl ul li:nth-child(3) {background-image: url("../images/trailer/gamePlayMenu02_03.png");}
    .ingameVideo.HW div.tabControl ul li:nth-child(4) {background-image: url("../images/trailer/gamePlayMenu02_04.png");}

    .ingameVideo.ST div.tabControl ul li:nth-child(1) {background-image: url("../images/trailer/gamePlayMenu03_01.png");}
    .ingameVideo.ST div.tabControl ul li:nth-child(2) {background-image: url("../images/trailer/gamePlayMenu03_02.png");}
    .ingameVideo.ST div.tabControl ul li:nth-child(3) {background-image: url("../images/trailer/gamePlayMenu03_03.png");}
    .ingameVideo.ST div.tabControl ul li:nth-child(4) {background-image: url("../images/trailer/gamePlayMenu03_04.png");}

    .ingameVideo.SB div.tabControl ul li:nth-child(1) {background-image: url("../images/trailer/gamePlayMenu04_01.png");}
    .ingameVideo.SB div.tabControl ul li:nth-child(2) {background-image: url("../images/trailer/gamePlayMenu04_02.png");}
    .ingameVideo.SB div.tabControl ul li:nth-child(3) {background-image: url("../images/trailer/gamePlayMenu04_03.png");}
    .ingameVideo.SB div.tabControl ul li:nth-child(4) {background-image: url("../images/trailer/gamePlayMenu04_04.png");}

    .ingamePhoto.RR ul li:nth-child(1) {background-image: url("../images/trailer/inGameSC01_01.png");}
    .ingamePhoto.RR ul li:nth-child(2) {background-image: url("../images/trailer/inGameSC01_02.png");}
    .ingamePhoto.RR ul li:nth-child(3) {background-image: url("../images/trailer/inGameSC01_03.png");}
    .ingamePhoto.RR ul li:nth-child(4) {background-image: url("../images/trailer/inGameSC01_04.png");}
    .ingamePhoto.RR ul li:nth-child(5) {background-image: url("../images/trailer/inGameSC01_05.png");}
    .ingamePhoto.RR ul li:nth-child(6) {background-image: url("../images/trailer/inGameSC01_06.png");}

    .ingamePhoto.HW ul li:nth-child(1) {background-image: url("../images/trailer/inGameSC02_01.png");}
    .ingamePhoto.HW ul li:nth-child(2) {background-image: url("../images/trailer/inGameSC02_02.png");}
    .ingamePhoto.HW ul li:nth-child(3) {background-image: url("../images/trailer/inGameSC02_03.png");}
    .ingamePhoto.HW ul li:nth-child(4) {background-image: url("../images/trailer/inGameSC02_04.png");}
    .ingamePhoto.HW ul li:nth-child(5) {background-image: url("../images/trailer/inGameSC02_05.png");}
    .ingamePhoto.HW ul li:nth-child(6) {background-image: url("../images/trailer/inGameSC02_06.png");}

    .ingamePhoto.ST ul li:nth-child(1) {background-image: url("../images/trailer/inGameSC03_01.png");}
    .ingamePhoto.ST ul li:nth-child(2) {background-image: url("../images/trailer/inGameSC03_02.png");}
    .ingamePhoto.ST ul li:nth-child(3) {background-image: url("../images/trailer/inGameSC03_03.png");}
    .ingamePhoto.ST ul li:nth-child(4) {background-image: url("../images/trailer/inGameSC03_04.png");}
    .ingamePhoto.ST ul li:nth-child(5) {background-image: url("../images/trailer/inGameSC03_05.png");}
    .ingamePhoto.ST ul li:nth-child(6) {background-image: url("../images/trailer/inGameSC03_06.png");}

    .ingamePhoto.SB ul li:nth-child(1) {background-image: url("../images/trailer/inGameSC04_01.png");}
    .ingamePhoto.SB ul li:nth-child(2) {background-image: url("../images/trailer/inGameSC04_02.png");}
    .ingamePhoto.SB ul li:nth-child(3) {background-image: url("../images/trailer/inGameSC04_03.png");}
    .ingamePhoto.SB ul li:nth-child(4) {background-image: url("../images/trailer/inGameSC04_04.png");}
    .ingamePhoto.SB ul li:nth-child(5) {background-image: url("../images/trailer/inGameSC04_05.png");}
    .ingamePhoto.SB ul li:nth-child(6) {background-image: url("../images/trailer/inGameSC04_06.png");}
    
    /* Job Page */
    .banner.def {background-image: url("../images/job/jobBanner_01.png");}
    .banner.heal {background-image: url("../images/job/jobBanner_02.png");}
    .banner.att {background-image: url("../images/job/jobBanner_03.png");}
    .banner.attf {background-image: url("../images/job/jobBanner_04.png");}
    .banner.attm {background-image: url("../images/job/jobBanner_05.png");}
    .banner.gat, .banner.cra {background-image: url("../images/job/jobBanner_06.png");}
    .jobIntro ul.tabContent {background-image: url("../images/job/jobIntroBg.png");} 

    .jobIntro.def ul.tabContent li:nth-child(1) {background-image: url("../images/job/jobChar01_01.png");}
    .jobIntro.def ul.tabContent li:nth-child(2) {background-image: url("../images/job/jobChar01_02.png");}
    .jobIntro.def ul.tabContent li:nth-child(3) {background-image: url("../images/job/jobChar01_03.png");}
    .jobIntro.def ul.tabContent li:nth-child(4) {background-image: url("../images/job/jobChar01_04.png");}

    .jobIntro.heal ul.tabContent li:nth-child(1) {background-image: url("../images/job/jobChar02_01.png");}
    .jobIntro.heal ul.tabContent li:nth-child(2) {background-image: url("../images/job/jobChar02_02.png");}
    .jobIntro.heal ul.tabContent li:nth-child(3) {background-image: url("../images/job/jobChar02_03.png");}

    .jobIntro.att ul.tabContent li:nth-child(1) {background-image: url("../images/job/jobChar03_01.png");}
    .jobIntro.att ul.tabContent li:nth-child(2) {background-image: url("../images/job/jobChar03_02.png");}
    .jobIntro.att ul.tabContent li:nth-child(3) {background-image: url("../images/job/jobChar03_03.png");}
    .jobIntro.att ul.tabContent li:nth-child(4) {background-image: url("../images/job/jobChar03_04.png");}

    .jobIntro.attf ul.tabContent li:nth-child(1) {background-image: url("../images/job/jobChar04_01.png");}
    .jobIntro.attf ul.tabContent li:nth-child(2) {background-image: url("../images/job/jobChar04_02.png");}
    .jobIntro.attf ul.tabContent li:nth-child(3) {background-image: url("../images/job/jobChar04_03.png");}

    .jobIntro.attm ul.tabContent li:nth-child(1) {background-image: url("../images/job/jobChar05_01.png");}
    .jobIntro.attm ul.tabContent li:nth-child(2) {background-image: url("../images/job/jobChar05_02.png");}
    .jobIntro.attm ul.tabContent li:nth-child(3) {background-image: url("../images/job/jobChar05_03.png");}
    .jobIntro.attm ul.tabContent li:nth-child(4) {background-image: url("../images/job/jobChar05_04.png");}

    .jobIntro.gat ul.tabContent li:nth-child(1) {background-image: url("../images/job/jobChar06_01.png");}
    .jobIntro.gat ul.tabContent li:nth-child(2) {background-image: url("../images/job/jobChar06_02.png");}
    .jobIntro.gat ul.tabContent li:nth-child(3) {background-image: url("../images/job/jobChar06_03.png");}

    .jobIntro.cra ul.tabContent li:nth-child(1) {background-image: url("../images/job/jobChar07_01.png");}
    .jobIntro.cra ul.tabContent li:nth-child(2) {background-image: url("../images/job/jobChar07_02.png");}
    .jobIntro.cra ul.tabContent li:nth-child(3) {background-image: url("../images/job/jobChar07_03.png");}
    .jobIntro.cra ul.tabContent li:nth-child(4) {background-image: url("../images/job/jobChar07_04.png");}
    .jobIntro.cra ul.tabContent li:nth-child(5) {background-image: url("../images/job/jobChar07_05.png");}
    .jobIntro.cra ul.tabContent li:nth-child(6) {background-image: url("../images/job/jobChar07_06.png");}
    .jobIntro.cra ul.tabContent li:nth-child(7) {background-image: url("../images/job/jobChar07_07.png");}
    .jobIntro.cra ul.tabContent li:nth-child(8) {background-image: url("../images/job/jobChar07_08.png");}

    .jobIntro.def div.tabControl ul li:nth-child(1) {background-image: url("../images/job/jobMenu01_01.png");}
    .jobIntro.def div.tabControl ul li:nth-child(2) {background-image: url("../images/job/jobMenu01_02.png");}
    .jobIntro.def div.tabControl ul li:nth-child(3) {background-image: url("../images/job/jobMenu01_03.png");}
    .jobIntro.def div.tabControl ul li:nth-child(4) {background-image: url("../images/job/jobMenu01_04.png");}

    .jobIntro.heal div.tabControl ul li:nth-child(1) {background-image: url("../images/job/jobMenu02_01.png");}
    .jobIntro.heal div.tabControl ul li:nth-child(2) {background-image: url("../images/job/jobMenu02_02.png");}
    .jobIntro.heal div.tabControl ul li:nth-child(3) {background-image: url("../images/job/jobMenu02_03.png");}

    .jobIntro.att div.tabControl ul li:nth-child(1) {background-image: url("../images/job/jobMenu03_01.png");}
    .jobIntro.att div.tabControl ul li:nth-child(2) {background-image: url("../images/job/jobMenu03_02.png");}
    .jobIntro.att div.tabControl ul li:nth-child(3) {background-image: url("../images/job/jobMenu03_03.png");}
    .jobIntro.att div.tabControl ul li:nth-child(4) {background-image: url("../images/job/jobMenu03_04.png");}

    .jobIntro.attf div.tabControl ul li:nth-child(1) {background-image: url("../images/job/jobMenu04_01.png");}
    .jobIntro.attf div.tabControl ul li:nth-child(2) {background-image: url("../images/job/jobMenu04_02.png");}
    .jobIntro.attf div.tabControl ul li:nth-child(3) {background-image: url("../images/job/jobMenu04_03.png");}

    .jobIntro.attm div.tabControl ul li:nth-child(1) {background-image: url("../images/job/jobMenu05_01.png");}
    .jobIntro.attm div.tabControl ul li:nth-child(2) {background-image: url("../images/job/jobMenu05_02.png");}
    .jobIntro.attm div.tabControl ul li:nth-child(3) {background-image: url("../images/job/jobMenu05_03.png");}
    .jobIntro.attm div.tabControl ul li:nth-child(4) {background-image: url("../images/job/jobMenu05_04.png");}

    .jobIntro.cra div.tabControl ul li:nth-child(1) {background-image: url("../images/job/jobMenu06_01.png");}
    .jobIntro.cra div.tabControl ul li:nth-child(2) {background-image: url("../images/job/jobMenu06_02.png");}
    .jobIntro.cra div.tabControl ul li:nth-child(3) {background-image: url("../images/job/jobMenu06_03.png");}
    .jobIntro.cra div.tabControl ul li:nth-child(4) {background-image: url("../images/job/jobMenu06_04.png");}
    .jobIntro.cra div.tabControl ul li:nth-child(5) {background-image: url("../images/job/jobMenu06_05.png");}
    .jobIntro.cra div.tabControl ul li:nth-child(6) {background-image: url("../images/job/jobMenu06_06.png");}
    .jobIntro.cra div.tabControl ul li:nth-child(7) {background-image: url("../images/job/jobMenu06_07.png");}
    .jobIntro.cra div.tabControl ul li:nth-child(8) {background-image: url("../images/job/jobMenu06_08.png");}

    .jobIntro.gat div.tabControl ul li:nth-child(1) {background-image: url("../images/job/jobMenu07_01.png");}
    .jobIntro.gat div.tabControl ul li:nth-child(2) {background-image: url("../images/job/jobMenu07_02.png");}
    .jobIntro.gat div.tabControl ul li:nth-child(3) {background-image: url("../images/job/jobMenu07_03.png");}

    /* Other Page */
    .banner.other {background-image: url("../images/other/otherBanner.png");}

    .otherContent section#sideQ ul li:nth-child(1) {background-image: url("../images/other/otherSC01_01.png");}
    .otherContent section#sideQ ul li:nth-child(2) {background-image: url("../images/other/otherSC01_02.png");}
    .otherContent section#sideQ ul li:nth-child(3) {background-image: url("../images/other/otherSC01_03.png");}
    .otherContent section#sideQ ul li:nth-child(4) {background-image: url("../images/other/otherSC01_04.png");}
    .otherContent section#mendervile ul li:nth-child(1) {background-image: url("../images/other/otherSC02_01.png");}
    .otherContent section#mendervile ul li:nth-child(2) {background-image: url("../images/other/otherSC02_02.png");}
    .otherContent section#mendervile ul li:nth-child(3) {background-image: url("../images/other/otherSC02_03.png");}
    .otherContent section#housing ul li:nth-child(1) {background-image: url("../images/other/otherSC03_01.png");}
    .otherContent section#housing ul li:nth-child(2) {background-image: url("../images/other/otherSC03_02.png");}
    .otherContent section#housing ul li:nth-child(3) {background-image: url("../images/other/otherSC03_03.png");}
    .otherContent section#freeComp ul li:nth-child(1) {background-image: url("../images/other/otherSC04_01.png");}
    .otherContent section#freeComp ul li:nth-child(2) {background-image: url("../images/other/otherSC04_02.png");}
    .otherContent section#free60 ul li {background-image: url("../images/other/otherSC05_01.png");}
