
/* Main page */
div.mainSlider h2,
div.officialSite a {text-shadow: 1px 2px 5px #000, -2px -1px 5px #000;}

div.mainSlider {z-index: 1; position: relative;}
div.mainSlider h2 {background: url("../images/simpleXivLogo.png") no-repeat left top; position: absolute; font-size: 55px; line-height: 65px; padding: 300px 0 90px 150px; top: calc(45% - 260px); left: 15%;}
div.mainSlider div.slider div {width: 100%; height: 800px;}
div.mainSlider .bx-wrapper .bx-pager {bottom: 30px; max-width: 1596px; width: 100%; margin: 0 auto; left: 0; right: 0;}
div.mainSlider .bx-wrapper .bx-pager::after {content: ''; display: block; visibility: hidden; clear: both;}
div.mainSlider .bx-pager-item {float: left; width: calc(100% / 7);}
div.mainSlider .bx-wrapper .bx-pager.bx-default-pager a {background: #fff; opacity: 0.7; width: 95%; margin: 0 auto;}

div.mainSlider div.slider div.sliderImg01 {background-image: url("../images/main/mainSlider01.png");}
div.mainSlider div.slider div.sliderImg02 {background-image: url("../images/main/mainSlider02.png");}
div.mainSlider div.slider div.sliderImg03 {background-image: url("../images/main/mainSlider03.png");}
div.mainSlider div.slider div.sliderImg04 {background-image: url("../images/main/mainSlider04.png");}
div.mainSlider div.slider div.sliderImg05 {background-image: url("../images/main/mainSlider05.png");}
div.mainSlider div.slider div.sliderImg06 {background-image: url("../images/main/mainSlider06.png");}
div.mainSlider div.slider div.sliderImg07 {background-image: url("../images/main/mainSlider07.png");}

div.officialSite {padding: 100px 0;}
div.officialSite::after {content: ''; display: block; visibility: hidden; clear: both;}
div.officialSite h2 {font-size: 0;}
div.officialSite a {color: #fff; font-weight: bold; font-size: 40px; line-height: 50px; text-align: center; box-sizing: border-box; display: block; width: calc((100% - 20px) / 2); padding: 25px 0;}
div.officialSite a:nth-of-type(2n-1) {padding-left: 23.45%; float: left;}
div.officialSite a:nth-of-type(2n) {padding-right: 23.45%; float: right;}
div.officialSite a:nth-of-type(1) {background-image: url("../images/main/oficialSite01.png");}
div.officialSite a:nth-of-type(2) {background-image: url("../images/main/oficialSite02.png");}

/* Trailer Page */
.trailerVideo {background-attachment: fixed; text-align: center; position: relative;}
.trailerVideo.RR {background-image: url("../images/trailer/trailerLogoBg01.png");}
.trailerVideo.HW {background-image: url("../images/trailer/trailerLogoBg02.png");}
.trailerVideo.ST {background-image: url("../images/trailer/trailerLogoBg03.png");}
.trailerVideo.SB {background-image: url("../images/trailer/trailerLogoBg04.png");}

.trailerVideo h3 {font-size: 0; line-height: 0; margin: 0;}
.trailerVideo h3::after,
.jobInfo h3::after {width: 0;}
.trailerVideo img {padding: 45px 0; width: 100%; max-width: 1100px; margin: 0 auto; transform: scale(0.95); transition: transform 1s;}
.trailerVideo img:hover {transform: scale(1); cursor: pointer;}

.trailerVideo div.popup {visibility: hidden; background-color: rgba(0, 0, 0, 0.85); z-index: 20; position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
.trailerVideo div.popup div {position: relative; width: 80%; height: 80%;}
.trailerVideo div.popup div span {position: absolute; top: -5%; right: 0; cursor: pointer; height: 10px; width: 40px;}
.trailerVideo div.popup div span::before,
.trailerVideo div.popup div span::after {content: ''; position: absolute; top: 10%; left: 0; height: 100%; width: 100%; background-color: rgba(255, 255, 255, 1);}
.trailerVideo div.popup div span::before {transform: rotate(45deg);}
.trailerVideo div.popup div span::after {transform: rotate(-45deg);}
.trailerVideo div.popup div iframe {width: 100%; height: 100%;}

.ingameVideo,
.jobIntro {display: flex; flex-wrap: wrap;}
.ingameVideo ul.tabContent li iframe {width: 100%; height: 100%;}

.ingameVideo.RR ul.tabControl li:nth-child(1) {background-image: url("../images/trailer/gamePlayMenu01_01.png");}
.ingameVideo.RR ul.tabControl li:nth-child(2) {background-image: url("../images/trailer/gamePlayMenu01_02.png");}
.ingameVideo.RR ul.tabControl li:nth-child(3) {background-image: url("../images/trailer/gamePlayMenu01_03.png");}
.ingameVideo.RR ul.tabControl li:nth-child(4) {background-image: url("../images/trailer/gamePlayMenu01_04.png");}

.ingameVideo.HW ul.tabControl li:nth-child(1) {background-image: url("../images/trailer/gamePlayMenu02_01.png");}
.ingameVideo.HW ul.tabControl li:nth-child(2) {background-image: url("../images/trailer/gamePlayMenu02_02.png");}
.ingameVideo.HW ul.tabControl li:nth-child(3) {background-image: url("../images/trailer/gamePlayMenu02_03.png");}
.ingameVideo.HW ul.tabControl li:nth-child(4) {background-image: url("../images/trailer/gamePlayMenu02_04.png");}

.ingameVideo.ST ul.tabControl li:nth-child(1) {background-image: url("../images/trailer/gamePlayMenu03_01.png");}
.ingameVideo.ST ul.tabControl li:nth-child(2) {background-image: url("../images/trailer/gamePlayMenu03_02.png");}
.ingameVideo.ST ul.tabControl li:nth-child(3) {background-image: url("../images/trailer/gamePlayMenu03_03.png");}
.ingameVideo.ST ul.tabControl li:nth-child(4) {background-image: url("../images/trailer/gamePlayMenu03_04.png");}

.ingameVideo.SB ul.tabControl li:nth-child(1) {background-image: url("../images/trailer/gamePlayMenu04_01.png");}
.ingameVideo.SB ul.tabControl li:nth-child(2) {background-image: url("../images/trailer/gamePlayMenu04_02.png");}
.ingameVideo.SB ul.tabControl li:nth-child(3) {background-image: url("../images/trailer/gamePlayMenu04_03.png");}
.ingameVideo.SB ul.tabControl li:nth-child(4) {background-image: url("../images/trailer/gamePlayMenu04_04.png");}

.ingamePhoto ul {display: block; width: 100%;}
.ingamePhoto ul::after {display: block; visibility: hidden; clear: both; content: '';}
.ingamePhoto ul li {width: calc((100% - 20px) / 2); float: left; margin-bottom: 20px; overflow: hidden; background-size: cover; text-indent: -9999px;}

.ingamePhoto ul li:nth-child(1) {width: 60.75%; height: 455px;}
.ingamePhoto ul li:nth-child(2) {width: 38%; height: 755px; float: right;}
.ingamePhoto ul li:nth-child(3) {width: 60.75%; height: 280px;}
.ingamePhoto ul li:nth-child(4) {width: 100%; height: 355px;}
.ingamePhoto ul li:nth-child(5) {height: 370px; margin-bottom: 0;}
.ingamePhoto ul li:nth-child(6) {height: 370px; margin-bottom: 0; float: right;}

.ingamePhoto.RR ul li:nth-child(1) {background-image: url("../images/trailer/inGameSC01_01.png");}
.ingamePhoto.RR ul li:nth-child(2) {background-image: url("../images/trailer/inGameSC01_02.png");}
.ingamePhoto.RR ul li:nth-child(3) {background-image: url("../images/trailer/inGameSC01_03.png");}
.ingamePhoto.RR ul li:nth-child(4) {background-image: url("../images/trailer/inGameSC01_04.png");}
.ingamePhoto.RR ul li:nth-child(5) {background-image: url("../images/trailer/inGameSC01_05.png");}
.ingamePhoto.RR ul li:nth-child(6) {background-image: url("../images/trailer/inGameSC01_06.png");}

.ingamePhoto.HW ul li:nth-child(1) {background-image: url("../images/trailer/inGameSC02_01.png");}
.ingamePhoto.HW ul li:nth-child(2) {background-image: url("../images/trailer/inGameSC02_02.png");}
.ingamePhoto.HW ul li:nth-child(3) {background-image: url("../images/trailer/inGameSC02_03.png");}
.ingamePhoto.HW ul li:nth-child(4) {background-image: url("../images/trailer/inGameSC02_04.png");}
.ingamePhoto.HW ul li:nth-child(5) {background-image: url("../images/trailer/inGameSC02_05.png");}
.ingamePhoto.HW ul li:nth-child(6) {background-image: url("../images/trailer/inGameSC02_06.png");}

.ingamePhoto.ST ul li:nth-child(1) {background-image: url("../images/trailer/inGameSC03_01.png");}
.ingamePhoto.ST ul li:nth-child(2) {background-image: url("../images/trailer/inGameSC03_02.png");}
.ingamePhoto.ST ul li:nth-child(3) {background-image: url("../images/trailer/inGameSC03_03.png");}
.ingamePhoto.ST ul li:nth-child(4) {background-image: url("../images/trailer/inGameSC03_04.png");}
.ingamePhoto.ST ul li:nth-child(5) {background-image: url("../images/trailer/inGameSC03_05.png");}
.ingamePhoto.ST ul li:nth-child(6) {background-image: url("../images/trailer/inGameSC03_06.png");}

.ingamePhoto.SB ul li:nth-child(1) {background-image: url("../images/trailer/inGameSC04_01.png");}
.ingamePhoto.SB ul li:nth-child(2) {background-image: url("../images/trailer/inGameSC04_02.png");}
.ingamePhoto.SB ul li:nth-child(3) {background-image: url("../images/trailer/inGameSC04_03.png");}
.ingamePhoto.SB ul li:nth-child(4) {background-image: url("../images/trailer/inGameSC04_04.png");}
.ingamePhoto.SB ul li:nth-child(5) {background-image: url("../images/trailer/inGameSC04_05.png");}
.ingamePhoto.SB ul li:nth-child(6) {background-image: url("../images/trailer/inGameSC04_06.png");}

/* Job Page */

.jobInfo {text-align: center;}
.jobInfo.def {background-image: url("../images/job/jobBanner_01.png");}
.jobInfo.heal {background-image: url("../images/job/jobBanner_02.png");}
.jobInfo.att {background-image: url("../images/job/jobBanner_03.png");}
.jobInfo.attf {background-image: url("../images/job/jobBanner_04.png");}
.jobInfo.attm {background-image: url("../images/job/jobBanner_05.png");}
.jobInfo.gat, .jobInfo.cra {background-image: url("../images/job/jobBanner_06.png");}

.jobInfo div {padding: 205px 0; background-color: rgba(0, 0, 0, 0.7); color: #fff;}
.jobInfo div h2 {font-weight: 500; margin-bottom: 30px;}
.jobInfo div p {opacity: 0.9;}

.jobIntro ul.tabContent {background-image: url("../images/job/jobIntroBg.png");} 
.jobIntro ul.tabContent strong {color: #fff; font-size: 40px; margin-bottom: 10px; display: flex; align-items: flex-end;}
.jobIntro ul.tabContent small {font-size: 16px; color: #fff; margin-left: 20px;}
.jobIntro ul.tabContent li {padding: 100px 30px; box-sizing: border-box;}
.jobIntro ul.tabContent li p {letter-spacing: -1px;}
.jobIntro ul.tabContent li > p {line-height: 1; margin-bottom: 20px;}

.jobIntro.def ul.tabContent li:nth-child(1) {background-image: url("../images/job/jobChar01_01.png");}
.jobIntro.def ul.tabContent li:nth-child(2) {background-image: url("../images/job/jobChar01_02.png");}
.jobIntro.def ul.tabContent li:nth-child(3) {background-image: url("../images/job/jobChar01_03.png");}
.jobIntro.def ul.tabContent li:nth-child(4) {background-image: url("../images/job/jobChar01_04.png");}

.jobIntro.heal ul.tabContent li:nth-child(1) {background-image: url("../images/job/jobChar02_01.png");}
.jobIntro.heal ul.tabContent li:nth-child(2) {background-image: url("../images/job/jobChar02_02.png");}
.jobIntro.heal ul.tabContent li:nth-child(3) {background-image: url("../images/job/jobChar02_03.png");}

.jobIntro.att ul.tabContent li:nth-child(1) {background-image: url("../images/job/jobChar03_01.png");}
.jobIntro.att ul.tabContent li:nth-child(2) {background-image: url("../images/job/jobChar03_02.png");}
.jobIntro.att ul.tabContent li:nth-child(3) {background-image: url("../images/job/jobChar03_03.png");}
.jobIntro.att ul.tabContent li:nth-child(4) {background-image: url("../images/job/jobChar03_04.png");}

.jobIntro.attf ul.tabContent li:nth-child(1) {background-image: url("../images/job/jobChar04_01.png");}
.jobIntro.attf ul.tabContent li:nth-child(2) {background-image: url("../images/job/jobChar04_02.png");}
.jobIntro.attf ul.tabContent li:nth-child(3) {background-image: url("../images/job/jobChar04_03.png");}

.jobIntro.attm ul.tabContent li:nth-child(1) {background-image: url("../images/job/jobChar05_01.png");}
.jobIntro.attm ul.tabContent li:nth-child(2) {background-image: url("../images/job/jobChar05_02.png");}
.jobIntro.attm ul.tabContent li:nth-child(3) {background-image: url("../images/job/jobChar05_03.png");}
.jobIntro.attm ul.tabContent li:nth-child(4) {background-image: url("../images/job/jobChar05_04.png");}

.jobIntro.cra ul.tabContent li:nth-child(1) {background-image: url("../images/job/jobChar06_01.png");}
.jobIntro.cra ul.tabContent li:nth-child(2) {background-image: url("../images/job/jobChar06_02.png");}
.jobIntro.cra ul.tabContent li:nth-child(3) {background-image: url("../images/job/jobChar06_03.png");}
.jobIntro.cra ul.tabContent li:nth-child(4) {background-image: url("../images/job/jobChar06_04.png");}
.jobIntro.cra ul.tabContent li:nth-child(1) {background-image: url("../images/job/jobChar06_01.png");}
.jobIntro.cra ul.tabContent li:nth-child(2) {background-image: url("../images/job/jobChar06_02.png");}
.jobIntro.cra ul.tabContent li:nth-child(3) {background-image: url("../images/job/jobChar06_03.png");}
.jobIntro.cra ul.tabContent li:nth-child(4) {background-image: url("../images/job/jobChar06_04.png");}

.jobIntro.gat ul.tabContent li:nth-child(1) {background-image: url("../images/job/jobChar07_01.png");}
.jobIntro.gat ul.tabContent li:nth-child(2) {background-image: url("../images/job/jobChar07_02.png");}
.jobIntro.gat ul.tabContent li:nth-child(3) {background-image: url("../images/job/jobChar07_03.png");}

.jobIntro ul.tabContent li {display: flex; flex-direction: column;}
.jobIntro ul.tabContent li figure img {float: left;}
.jobIntro ul.tabContent li figure figcaption dl {color: #fff; font-size: 16px; line-height: 25px; margin-left: 140px; display: flex; flex-wrap: wrap;}
.jobIntro ul.tabContent li figure figcaption dl dt {width: fit-content;}
.jobIntro ul.tabContent li figure figcaption dl dd {width: 90%; margin-left: 20px;}
.jobIntro ul.tabContent li figure figcaption dl dd:not(:last-child) {margin-bottom: 10px;}
.jobIntro ul.tabContent li figure p {margin-top: auto;}

.jobIntro.cra div.bx-wrapper {display: flex; flex-direction: column; justify-content: flex-start; overflow: hidden;}
.jobIntro.cra div.bx-wrapper .bx-viewport {overflow: visible !important;}

.jobIntro.def ul.tabControl li:nth-child(1) {background-image: url("../images/job/jobMenu01_01.png");}
.jobIntro.def ul.tabControl li:nth-child(2) {background-image: url("../images/job/jobMenu01_02.png");}
.jobIntro.def ul.tabControl li:nth-child(3) {background-image: url("../images/job/jobMenu01_03.png");}
.jobIntro.def ul.tabControl li:nth-child(4) {background-image: url("../images/job/jobMenu01_04.png");}

.jobIntro.heal ul.tabControl li:nth-child(1) {background-image: url("../images/job/jobMenu02_01.png");}
.jobIntro.heal ul.tabControl li:nth-child(2) {background-image: url("../images/job/jobMenu02_02.png");}
.jobIntro.heal ul.tabControl li:nth-child(3) {background-image: url("../images/job/jobMenu02_03.png");}

.jobIntro.att ul.tabControl li:nth-child(1) {background-image: url("../images/job/jobMenu03_01.png");}
.jobIntro.att ul.tabControl li:nth-child(2) {background-image: url("../images/job/jobMenu03_02.png");}
.jobIntro.att ul.tabControl li:nth-child(3) {background-image: url("../images/job/jobMenu03_03.png");}
.jobIntro.att ul.tabControl li:nth-child(4) {background-image: url("../images/job/jobMenu03_04.png");}

.jobIntro.attf ul.tabControl li:nth-child(1) {background-image: url("../images/job/jobMenu04_01.png");}
.jobIntro.attf ul.tabControl li:nth-child(2) {background-image: url("../images/job/jobMenu04_02.png");}
.jobIntro.attf ul.tabControl li:nth-child(3) {background-image: url("../images/job/jobMenu04_03.png");}

.jobIntro.attm ul.tabControl li:nth-child(1) {background-image: url("../images/job/jobMenu05_01.png");}
.jobIntro.attm ul.tabControl li:nth-child(2) {background-image: url("../images/job/jobMenu05_02.png");}
.jobIntro.attm ul.tabControl li:nth-child(3) {background-image: url("../images/job/jobMenu05_03.png");}
.jobIntro.attm ul.tabControl li:nth-child(4) {background-image: url("../images/job/jobMenu05_04.png");}

.jobIntro.cra ul.tabControl li:nth-child(1) {background-image: url("../images/job/jobMenu06_01.png");}
.jobIntro.cra ul.tabControl li:nth-child(2) {background-image: url("../images/job/jobMenu06_02.png");}
.jobIntro.cra ul.tabControl li:nth-child(3) {background-image: url("../images/job/jobMenu06_03.png");}
.jobIntro.cra ul.tabControl li:nth-child(4) {background-image: url("../images/job/jobMenu06_04.png");}
.jobIntro.cra ul.tabControl li:nth-child(5) {background-image: url("../images/job/jobMenu06_05.png");}
.jobIntro.cra ul.tabControl li:nth-child(6) {background-image: url("../images/job/jobMenu06_06.png");}
.jobIntro.cra ul.tabControl li:nth-child(7) {background-image: url("../images/job/jobMenu06_07.png");}
.jobIntro.cra ul.tabControl li:nth-child(8) {background-image: url("../images/job/jobMenu06_08.png");}

.jobIntro.gat ul.tabControl li:nth-child(1) {background-image: url("../images/job/jobMenu07_01.png");}
.jobIntro.gat ul.tabControl li:nth-child(2) {background-image: url("../images/job/jobMenu07_02.png");}
.jobIntro.gat ul.tabControl li:nth-child(3) {background-image: url("../images/job/jobMenu07_03.png");}

.jobIntro div span {width: 100%; height: 47.5px; background-color: tomato;}
.jobIntro div {width: 19.75%; margin-left: 1.25%;}


/* Other Page */
.banner {background-color: aquamarine; text-align: center;}
section.other h3 {width: calc((100% - 20px) / 2);}
section.other p {color: #000; text-align: center; line-height: 25px;}
/* section:not(:first-child) {display: flex; flex-wrap: wrap;} */
section.other ul {width: calc((100% - 20px) / 2);}
section.other ul li {background-color: brown; width: calc((100% - 20px) / 2);}