* {margin: 0; padding: 0;}

.wrap {width: 1125px; margin: 0 auto;}
.wrap header {font-size: 12px; padding: 0.625em; background-color: cornflowerblue;}
.wrap section {font-size: 12px;}
.wrap section::after {content: ''; display: block; visibility: hidden; clear: both;}
.wrap section aside {width: 15em; height: 50em; background-color: yellow; float: left;}
.wrap section article {width: 39.375em; height: 50em; float: left;}
.wrap section article:nth-of-type(1) {background-color: violet;}
.wrap section article:nth-of-type(2) {background-color: cadetblue;}
.wrap footer {font-size: 15px; padding: 1em; background-color: darkorange;}