* {margin: 0; padding: 0;}

/* 
section {background-color: thistle; margin: 200px; display: inline-block;}
section ul {list-style: none; font-size: 50px; font-weight: bolder;}
section ul::after {content: ''; display: block; visibility: hidden; clear: both;}
section ul li {float: left;padding: 30px;} 
*/

div {font-size: 50px; font-weight: bolder; margin: 200px; display: inline-block; position: relative;}
div::after {content: attr(data-text); position: absolute; top: 0; left: 0; color: violet; width: 0; height: 100%; overflow: hidden; transition-duration: 1s;}
div:hover::after {width: 100%;}
