* {margin: 0; padding: 0;}
body {width: 100%; background-color: black;}

div.wrap {width: 100px; padding: 20px; margin: 50px auto; text-align: center; vertical-align: middle; color: cornflowerblue; position: relative;}
div.wrap span {position: absolute; background-color: white; display: inline-block; transition-duration: 0.5s; transition-property: width, height;}
div.wrap span:nth-child(2n-1) {width: 0%; height: 3px;}
div.wrap span:nth-child(2n) {width: 3px; height: 0%;}

div.wrap span:nth-child(1) {top: 0; left: 0; transition-delay: 1.5s}
div.wrap span:nth-child(2) {top: 0; right: 0; transition-delay: 1s}
div.wrap span:nth-child(3) {bottom: 0; right: 0; transition-delay: 0.5s}
div.wrap span:nth-child(4) {bottom: 0; left: 0; transition-delay: 0s}

div.wrap:hover span:nth-child(2n-1) {width: 100%;}
div.wrap:hover span:nth-child(2n) {height: 100%;}

div.wrap:hover span:nth-child(1) {transition-delay: 0s;}
div.wrap:hover span:nth-child(2) {transition-delay: 0.5s;}
div.wrap:hover span:nth-child(3) {transition-delay: 1s;}
div.wrap:hover span:nth-child(4) {transition-delay: 1.5s;}

div.test {margin: 0 50px; position: relative; display: inline-block; color: white; padding: 10px;}
div.test::after, div.test::before {content: ''; position: absolute; width: 0; height: 0;}
div.test::before {border-top: 2px solid white; border-right: 2px solid white; top: 0; left: 0; transition: width 1s 3s, height 1s 2s;}
div.test::after {border-bottom: 2px solid white; border-left: 2px solid white; bottom: 0; right: 0; transition: width 1s 1s, height 1s 0s;}

div.test:hover::before, div.test:hover::after {width: 100%; height: 100%;}
div.test:hover::before {transition: width 1s 0s, height 1s 1s}
div.test:hover::after {transition: width 1s 2s, height 1s 3s;}
