* {margin: 0; padding: 0;}
body {width: 200px; margin: 200px auto;}

div {width: 200px;}
div span {width: 200px; height: 200px; display: block;}
div.Rotater span:first-of-type {background-color: red; animation-name: XRotate; animation-iteration-count: infinite;animation-duration: 2s;  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);}
div.Rotater span:nth-of-type(2) {background-color: royalblue; animation-name: YRotate; animation-iteration-count: infinite;animation-duration: 2s;  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);}
div.Rotater span:nth-of-type(3) {background-color: seagreen; animation-name: ZRotate; animation-iteration-count: infinite;animation-duration: 2s;  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);}

@keyframes XRotate
    {
        from
        {
            transform: rotateX(0deg);
        }
        to
        {
            transform: rotateX(360deg);
        }
    }
@keyframes YRotate
    {
        from
        {
            transform: rotateY(0deg);
        }
        to
        {
            transform: rotateY(360deg);
        }
    }
@keyframes ZRotate
    {
        from
        {
            transform: rotateZ(0deg);
        }
        to
        {
            transform: rotateZ(360deg);
        }
    }

div.Translater span {background-color: teal; color: white; animation-name: Trans3D; animation-duration: 5s;}
@keyframes Trans3D
{
    from
    {
        transform: translate3d(0px, 0px, 0px);
    }
    to
    {
        transform: translate3d(25px, 50px, 100px);
    }
}

div.Scaler span {background-color: brown; color: white; animation-name: Scale3D; animation-duration: 5s;}
@keyframes Scale3D
{
    from
    {
        transform: scale3d(0,0,0);
    }
    to
    {
        transform: scale3d(0.5,1.5,0.5);
    }
}