* {margin: 0; padding: 0;}

div.firstBox {width: 300px; height: 150px; border: 3px solid steelblue;}
/* 
solid : 직선
dotted : 점선
dashed : 자르는 선
double : 두줄의 선
groove : 테두리를 입체감 있게
ridge : 볼록한 테두리
inset : 들어가 보이는 테두리
outset : 튀어나와 보이는 테두리
*/

div.firstExBox {width: 500px; height: 500px; border: 5px groove tomato; padding: 20px; margin: 50px auto; background: wheat; text-align: center; color: teal; font-size: 40px;}
div.secondBox {width: 800px; height: 200px; border-bottom: 4px solid teal; border-top: 8px dotted yellow; border-left: 6px ridge royalblue; border-right: 10px inset hotpink; margin: 20px auto;}
div.thirdBox {width: 800px; height: 200px; border-width: 10px 15px 20px 25px; border-style: double inset solid outset; border-color: sienna springgreen tomato plum; margin: 20px auto;}
div.test {width: 800px; height: 200px; background-color: turquoise; padding: 0 3px; margin: 0 auto; border: 1px solid purple; box-sizing: border-box; border-radius: 100px;}
/* 
border-radius 각 모서리에 개별적으로 반지름을 지정
border-top-left-radius
border-top-right-radius
border-bottom-right-radius
border-bottom-left-radius
*/








