* {margin: 0; padding: 0;}
body {max-width: 1520px; margin: 0 auto;}

div.Main > h1 {font-size: 38px; color: #a0a0a0; padding: 15px 0 15px 0; position: relative;}
div.Main > h1 a {color: #191970; font-size: 30px; position: absolute; bottom: 0; right: 0;}

div.Main form fieldset {margin: 0 2px; border: none; border-bottom: 1px solid #c4c4c4; border-top: 2px solid #c4c4c4; box-sizing: border-box;}
div.Main form fieldset legend {display: none;}
div.Main form fieldset input[type='text'] {margin: 15px 0; width: 12%; height: 25px; color: white; outline: none; background-color: #505050; border: 1px solid #c4c4c4;}
div.Main form fieldset input[type='submit'] {width: 90px; height: 27px; border: 2px solid #06061b; border-top-color: #191970; border-left-color: #191970;;}
div.Main form fieldset::after {content: ''; display: block; visibility: hidden; clear: both;}
div.Main form fieldset select {width: 380px; margin: 15px 0; background-color: #505050; border: 1px solid #191970; float: right; color: white;}

div.Main h2 {padding: 45px 0;}
div.Main h2 mark {color: #0091b5; background-color: white;}

div.Main ul {width: 100%;}
div.Main ul li {list-style: none; position: relative;}
div.Main ul li:nth-of-type(2n) {background-color: #9a9a9a;}
div.Main ul li::after {content: ''; display: block; visibility: hidden; clear: both;}
div.Main ul li span {vertical-align: middle; box-sizing: border-box; float: left;}
div.Main ul li:first-child span {padding: 30px 40px; border-bottom: 1px solid #8b0000; border-top: 3px solid #8b0000;}
div.Main ul li:not(:first-child) span {padding: 17px 40px; border-bottom: 1px solid black;}
div.Main ul li span:not(:nth-of-type(2)) {width: 20%;}
div.Main ul li span:nth-of-type(2) {width: 40%;}

div.Main ul li span:last-of-type::after {content: 'new';  width: 35px; height: 25px; color: white; vertical-align: middle; text-align: center; display: inline-block; background-color: red; position: absolute; top: 0; right: 0; visibility: hidden;}
div.Main ul li:nth-of-type(2) span:last-of-type::after, 
div.Main ul li:nth-of-type(3) span:last-of-type::after, 
div.Main ul li:nth-of-type(6) span:last-of-type::after, 
div.Main ul li:nth-of-type(7) span:last-of-type::after {visibility: visible;}

div.Main div {width: 33.33%; margin: 0 auto; position: relative;}
div.Main div > a {position: absolute; text-decoration: none; padding: 0 12px; top: 32px;}
div.Main div > a:first-child {left: -24px;}
div.Main div > a:last-of-type {right: -24px;}
div.Main div ol {text-align: center; list-style: none;}
div.Main div ol::after {content: ''; display: block; visibility: hidden; clear: both;}
div.Main div ol li {width: 10%; float: left; margin: 32px 0;}
div.Main div ol li a {text-decoration: none; padding: 0 12px; color: #00556b;}