* {margin: 0; padding: 0;}

/* html {height: 100%;}
body {height: 100%;}
div.percent {width: 50%; height: 100%; background-color: skyblue;}
div.percent div.rem {height: 25%; background-color: tomato;} */

html {height: 100%;}
body {height: 100%;}
div.wrap {font-size: 30px; width: 1000px; height: 100%; background-color: teal;}
div.wrap div {height: 100px;}
div.percent {width: 50%; background-color: thistle;}
div.rem {width: 10rem; background-color: yellow;}
div.em {width: 10em; background-color: tomato;}
div.viewport {width: 50vw; height: 50vh; background-color: aqua;}

/*
% : 부모 너비의 백분율
rem (Root em) : rem 단위는 브라우저의 기본 font-sie
em : em 은 단위가 입력된 요소에서 가장 가까운 (동일선상 제외, 자신포함, 기본 부모) font-size 의 영향을 받는다.
vw : 브라우저 너비의 백분율
vh : 브라우저 높이의 백분율
*/