html, body {width: 100%;}
body a {text-decoration: none;}

/* Mobile Device start */
@media screen and (max-width: 779px)
{
    header > div nav {position: fixed; top: 15px; right: 0; background-color: black;}
    header > div nav label {width: 35px; height: 35px; border: 2px solid white; border-radius: 5px; position: relative; display: inline-block; box-sizing: border-box; margin-right: 10px;}
    header > div nav label span{position: absolute; top: 4.75px; left: 3px;display: inline-block; width: 25px; height: 21.5px; border-top: 4px solid #fff; border-bottom: 4px solid #fff; box-sizing: border-box;}
    header > div nav label span::before {content: ""; position: absolute; top: 4.75px; left: 0px; width: 100%; border-top: 4px solid #fff;}
    header > div nav input[type='checkbox'] {display: none;}
    header > div nav ul {display: none;}
    header > div nav input[type='checkbox']:checked ~ ul {display: block;}

    header > div nav ul {background-color: rgba(0, 0, 0, 1); width: 150px; position: absolute; top: 0px; right: 0px; border: 2px solid white; border-radius: 5px; margin-top: 35px; margin-right: 10px;}
    header > div nav ul li {padding: 10px; width: 100%;}

}

/* Desktop Device start */
@media screen and (min-width: 780px)
{
    header > div::after {content: ''; display: block; visibility: hidden; clear: both;}
    header > div nav {float: right;}
    header > div nav label {display: none;}
    header > div nav input[type='checkbox'] {display: none;}

    header > div nav ul::after {content: ''; display: block; visibility: hidden; clear: both;}
    header > div nav ul li {padding: 20px 0; float: left;}
    header > div nav ul li:not(:last-child) {padding-right: 25px;}
}

header {background: url(../images/background1.png) no-repeat center center; background-size: cover;}
header > div {max-width: 940px; width: 100%; margin: 0 auto; padding: 15px 0;}
header > div h1 {display: inline-block; margin-bottom: 40px;}

header > div nav ul {list-style: none;}
header > div nav ul li {font-family: 'Roboto'; font-size: 13px; font-weight: 800;}
header > div nav ul li a {color: #ffffff; }

div.slider {width: 82.446%; margin: 125px auto; overflow: hidden;}
div.slider ul {width: 400%; list-style: none;}
div.slider ul::after {content: ''; display: block; visibility: hidden; clear: both;}
div.slider ul li {width: 25%; color: white; text-align: center; float: left;}
div.slider ul li h2 {font-family: 'Playfair Display'; font-size: 32px; letter-spacing: 0.32px; font-weight: 800;}
div.slider ul li span {background-color: #00e0d0; width: 50px; height: 1px; margin: 25px auto; display: inline-block;}
div.slider ul li p {font-family: 'Roboto'; font-size: 14px; letter-spacing: 0.7px; line-height: 24px; font-weight: 300; margin-bottom: 50px;}
div.slider ul li a {padding: 9px 14px; display: inline-block; font-family: 'Hammersmith One'; color: #00e0d0; border: 1px solid #00e0d0; box-sizing: border-box;}

div.sliderBtn {width: fit-content; margin: 0 auto; margin-bottom: 55px;}
div.sliderBtn label {width: 10px; height: 10px; display: inline-block; border-radius: 100%; border: 1px solid #00e0d0; position: relative; box-sizing: border-box;}
div.sliderBtn label input[type='radio'] {display: none;}
div.sliderBtn label span {width: 100%; height: 100%; border-radius: 100%; display: inline-block; position: absolute; top: 0; left: 0;}
div.sliderBtn label input[type='radio']:checked + span {background-color: #00e0d0;}

/* slider test
header div > ol {width: 85%; list-style: none; margin: 0 auto; margin-bottom: 55px;}
header div > ol li {text-align: center;}
header div > ol li a {text-decoration: none; width: 11px; height: 11px; border-radius: 100%; border: 1px solid white; display: inline-block; box-sizing: border-box;}
header div > ol li a:not(:last-child) {margin-right: -1px;}
 */

/* Footer Start */
footer {background: url(../images/background5.png) no-repeat center center; background-size: cover; padding: 70px 0; color: #ffffff;}
footer a {color: #ffffff;}
footer div {max-width: 940px; width: 100%; margin: 0 auto;}
footer div:not(:last-child) {width: 30%; display: inline-block;}
footer div:last-child {width: 100%;}
footer div div p, footer div div address {font-family: 'Roboto'; font-size: 14px; line-height: 26px; font-weight: 300;}
footer div div:first-child h2 {margin-bottom: 25px;}
footer div div:not(:first-child) h2 {font-family: 'Roboto'; font-size: 15px; line-height: 26px; font-weight: 600; margin-bottom: 40px;}

footer div div address span {padding-left: 30px; display: block;}
footer div div address span:first-child {background: url('../images/address1.png') no-repeat left top;}
footer div div address span:last-child {background: url('../images/address2.png') no-repeat left top;}

footer div div input[type='email'] {padding: 15px; border: 1px solid #ffffff; box-sizing: border-box; margin-bottom: 25px; margin-right: 10px;}
footer div div input[type='submit'] {padding: 15px; background: url('../images/Newsletter.png') no-repeat center center; background-color: #ffffff; opacity: 0.5; width: 70px; height: 45px; border: none;}

footer div div ul::after {content: ''; display: block; visibility: hidden; clear: both;}
footer div div ul li {float: left;}
footer div div ul li:not(:last-child) {margin-right: 7px;}

footer div div:last-child::after {content: ''; visibility: hidden; clear: both; display: block;}
footer div div > p {float: right;}