body{
    color: crimson;
}

*{margin: 0; padding: 0;}

h1{
    color: #2F3;
}
img{
    width: 50px;
    height: 50px;
}

/* 각각의 대상을 지목하여 스타일을 설정 할 수 있다. */

ul li{
    font-size: 30px;
}

ol li{
    font-size: 12px;
}


dl dt , dl dd{font-size: 25px; color: rebeccapurple;}


div{color: black; font-size: 50px;}
div.test > div{color: dodgerblue;}