/* ? Mobile Device */
@media screen and (max-width:767px) and (orientation: landscape)
{
    html {background-color: yellow; color: white;}
    h1 {font-size: 3rem; text-align: right; line-height: 3.5rem;}
    p {font-size: 1rem; text-align: left; line-height: 2rem;}
}

@media screen and (max-width:767px) and (orientation: portrait)
{
    html {background-color: violet; color: white;}
    h1 {font-size: 3rem; text-align: right; line-height: 3.5rem;}
    p {font-size: 1rem; text-align: left; line-height: 2rem;}
}
/* ? Tablet Device */
@media screen and (min-width:768px) and (max-width:1279px) and (orientation:landscape)
{
    html {background-color: teal; color: white;}
    h1 {font-size: 3rem; text-align: right; line-height: 3.5rem;}
    p {font-size: 1rem; text-align: left; line-height: 2rem;}
}

@media screen and (min-width:768px) and (max-width:1279px) and (orientation:portrait)
{
    html {background-color: tomato; color: white;}
    h1 {font-size: 6rem; text-align: left; line-height: 7rem;}
    p {font-size: 2rem; text-align: right; line-height: 4rem;}
}

/* ? Desktop Device */
@media screen and (min-width:1280px)
{
    html {background-color: blue; color: white; font-weight: bold;}
    h1 {font-size: 2rem; line-height: 3rem;}
    p {font-size: 1rem; text-align: right; line-height: 1.5rem;}
}
