.classEx1 {
    color: salmon;
}
.btn {
    width: 90px;
    height: 40px;
    font-size: 12px;
}
.btn.create {
    background-color: seashell;
}
.btn.modify {
    background-color: sienna;
    color: skyblue;

}
.btn.delete {
    background-color: tomato;
    width: 45px;
}
.btn.confirm {
    color: violet;
    height: 60px;
}
.btn.cancel {
    font-size: 20px;
    color: teal;
}