body {color: steelblue;}
* {margin: 0; padding: 0;}

h1 {color: tomato;}
img {width: 500px; height: 150px;}
ul li {font-size: 30px;}
ul li.test + li {color: burlywood;}
ol li {font-size: 45px;}
dl dt , dl dd {font-size: 20px; color: turquoise;}
div {color: yellow; font-size: 50px;}
div.test > div {color: brown;}
div {color: red;}

/* 각각의 대상을 지목하여 스타일을 설정 할 수 있다. */