/* @media screen and (min-width: 1280px) { */
    /* Global Common */
    .MaxContainer {max-width: 1200px; width: 100%; margin: auto;}


    .bx-wrapper {box-shadow: none; border: none; margin-bottom: 0;}

    section {margin-bottom: 100px;}
    h2 {font-size: 40px; font-weight: bold; line-height: 50px; color: #fff;}
    h3 {width: 100%; display: block; font-size: 24px; color: #fff; line-height: 35px; text-indent: 30px; text-shadow: 0 0 5px #4c66ba, 0 0 5px #000; position: relative; margin-bottom: 40px;}
    h3::after {content: ''; height: 1px; background-color: #4c66ba; width: 100%; position: absolute; left: 0; bottom: -20px;}
    p {font-size: 16px; line-height: 25px;}

    /* Under Bar */
    ul > li a span {display: inline-block; padding: 0 5px; line-height: 1; position: relative;}
    ul > li a span::after {content: ''; position: absolute; left: 50%; bottom: -10px; width: 0; height: 1px; background-color: #647ab3; transition-duration: 0.5s; transition-property: width, left;}
    ul > li:hover > a span::after,
    .subMenu .underBar.active::after {left: 0; width: 100%;}
    .subMenu .underBar::after {background-color: #fff;}
    
    /* Tab Structure */
    ul.tabContent {width: 79%; height: 715px; background-color: rgba(0, 0, 0, 0.7); position: relative;}
    ul.tabContent li {position: absolute; top: 0; left: 0; width: 100%; height: 100%; visibility: hidden; opacity: 0; transition: opacity ease 1s;}
    ul.tabContent li.active {visibility: visible; opacity: 1; animation: Bgmove 1s forwards;}    
    div.tabControl {width: 19.75%; margin-left: 1.25%; display: flex; flex-direction: column; justify-content: space-between;}
    div.tabControl ul li a {font-size: 16px; font-weight: 500; color: rgba(255, 255, 255, 0.5); line-height: 140px; text-align: center; display: block; background-color: rgba(0, 0, 0, 0.7);}
    div.tabControl ul li:hover a,
    div.tabControl ul li.active a {color: #fff; text-shadow: 1px 2px 5px #000, -2px -1px 5px #000; background-color: rgba(0, 0, 0, 0.25);}
    div.tabControl span {margin: 0 auto;}
    div.tabControl span.hide {visibility: hidden;}
    div.tabControl span a span.material-icons {font-size: 45px; font-weight: bold; color: #000;} 

    /* Scroll Top */
    span.material-icons.scrTop {cursor: pointer; opacity: 1; transition: opacity ease 0.5s; font-size: 50px; position: fixed; bottom: 50px; right: 50px; background-color: #fff; box-shadow:  1px 0px 1px 1px rgba(0, 0, 0, 0.5), -1px 0px 1px 1px rgba(0, 0, 0, 0.5); padding: 10px; border-radius: 100%;}
    span.material-icons.scrTop.hide {opacity: 0; visibility: hidden;}
    
    /* Banner */
    .banner {text-align: center;}
    .banner div {padding: 205px 0; background-color: rgba(0, 0, 0, 0.7); color: #fff;}
    .banner div h2 {font-weight: 500; margin-bottom: 30px;}
    .banner div p {opacity: 0.9; width: 50%; margin: 0 auto;}

    /* Header */
    header div::after {content: ''; display: block; visibility: hidden; clear: both;}
    header div h1 {float: left; line-height: 0; width: 17.85%;}
    header div div.burger {display: none;}
    header div nav {text-align: center; float: right;}
    header div nav > ul::after {content: ''; display: block; visibility: hidden; clear: both;}
    header div nav > ul > li {float: left; position: relative;}
    header div nav > ul > li:last-child {background: #8fafff; border: 1px solid #4c66ba; box-sizing: border-box; position: relative; overflow: hidden;}
    header div nav > ul > li:last-child > a {padding: 0 31.5px; line-height: 73px; z-index: 20;}
    header div nav > ul > li:last-child > a::after {content: ''; background-color: #fff; opacity: 0.2; position: absolute; top: 0; left: 0; width: 0%; height: 100%; animation: Shine cubic-bezier(0.65, 0.05, 0.36, 1) 3s infinite;}
    
    header div nav ul li a {width: 175px; display: block; color: #000; font-size: 20px;}
    header div nav > ul > li > a {font-weight: bold; line-height: 75px;}
    header div nav > ul > li:hover > ul {opacity: 1; visibility: visible; transform: translateY(0%); border-top: 1px solid rgba(0, 0, 0, 0.2) ; }
    header div nav > ul > li > ul {position: absolute; background-color: #fff; opacity: 0; top: 75px; z-index: 5; left: 0; visibility: hidden; transform: translateY(-10px); transition: transform 0.3s, visibility 0.2s, opacity 0s;}
    header div nav > ul > li > ul li {padding: 10px 0 20px 0;}
    header div nav > ul > li > ul li a {line-height: 30px; opacity: 0.7; letter-spacing: -1px; word-spacing: -1.5px;}
    header div nav > ul > li > ul li:first-child {padding-top: 20px;}
    header div nav > ul > li > ul li:hover a {opacity: 1;}
    
    /* Footer */
    footer {background: #070a1a;}
    footer div {display: flex; justify-content: space-between; align-items: center;}
    footer div img {width: 21.95%;}
    footer div address {width: 42.85%; color: #fff; font-size: 16px; line-height: 25px; display: block; margin: 187.5px 0; font-style: normal;}
    
    /* SubMenu */
    .subMenu {text-align: center; margin-bottom: 20px;}
    .subMenu h2 {padding: 130px 0 35px 0;}
    .subMenu ul {margin: 0 auto; width: fit-content;}
    .subMenu ul::after {content: ''; display: block; visibility: hidden; clear: both;}
    .subMenu ul li {float: left; padding: 30px 22.5px;}
    .subMenu ul li a {font-size: 16px; line-height: 50px; color: #fff; display: block;}
    
/* } */
/* @media screen and (min-width: 641px) and (max-width: 1279px) {

}
@media screen and (max-width: 640px) {
    
} */
/* 공통 배경이미지 */
    /* SubMenu */
.subMenu.trailer {background-image: url("../images/trailer/subMenuBG.png");}
.subMenu.job {background-image: url("../images/job/subMenuBG.png");}
.subMenu.other {background-image: url("../images/other/subMenuBG.png");}

/* Animation */
@keyframes Shine {
    from {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    to {
        width: 0%;
        left: 100%;
    }
}
@keyframes Bgmove {
    to {background-position: 0 0;}
}
    