@charset "utf-8";
/* CSS Document */

body{margin:0;}

.wrap{font-size:15px; margin:0 auto; width:75em;}

header{font-size:12px; padding:0.625em; background-color:#0cf;}

section{font-size:12px;}
section:after{
    content: ''; display: block; visibility: hidden; clear: both;
}

section > *{height:50em; float:left;}

section aside{width:15em; background-color:#cc0;}
section article{width:39.375em; background-color:#f9c;}
section article:nth-of-type(2){width:39.375em; background-color:#9c9;}

footer{font-size:15px; text-align:center; padding:1em; background-color:#66c;}


/* 
    ? em
    * em은 단위가 입력된 요소에서 가장 가까운
    !(동위선상제외, 자신포함, 기본 부모)
    * font-size의 영향을 받는다.
    * 연산방식은 rem과 동일하고 (px to em site참고)
*/