body,ul,li,dl,dt,dd{margin:0; padding:0;}

        .visibilityProperty span{background-color:#ff6a00; display:block;}
        .visibilityProperty span:first-child{visibility:visible;}
        .visibilityProperty span:nth-child(2){visibility:hidden; height:300px;}
        .visibilityProperty input[type='checkbox']:checked ~ table{visibility:visible;}
        .visibilityProperty table{visibility:collapse;}
        /*
            visibility의 속성은 총 3가지
            visibility : visible  = 보여주다.
            visibility : hidden = 감추다.(영역보존)
            visibility : collapse = 테이블만 감추다.
        */

        .opacityProperty01 ul{padding: 0; margin: 0; list-style: none; background-color: red;}
        .opacityProperty01 ul::after{content: ''; display: block; visibility: hidden; clear: both;}
        .opacityProperty01 ul li{float: left; width: 10%; background-color: white; height: 100px;}
        .opacityProperty01 ul li:first-of-type{opacity: 0.1;}
        .opacityProperty01 ul li:nth-of-type(2){opacity: 0.2;}
        .opacityProperty01 ul li:nth-of-type(3){opacity: 0.3;}
        .opacityProperty01 ul li:nth-of-type(4){opacity: 0.4;}
        .opacityProperty01 ul li:nth-of-type(5){opacity: 0.5;}
        .opacityProperty01 ul li:nth-of-type(6){opacity: 0.6;}
        .opacityProperty01 ul li:nth-of-type(7){opacity: 0.7;}
        .opacityProperty01 ul li:nth-of-type(8){opacity: 0.8;}
        .opacityProperty01 ul li:nth-of-type(9){opacity: 0.9;}
        .opacityProperty01 ul li:last-of-type{opacity: 1;}

        .opacityProperty02 ul{padding: 0; margin: 0; list-style: none;}
        .opacityProperty02 ul::after{content: ''; display: block; visibility: hidden; clear: both;}
        .opacityProperty02 ul li{float: left; width: 10%; background-color: white; height: 100px;}
        .opacityProperty02 ul li:first-of-type{background-color: rgba(255,255,255,0.1);}
        .opacityProperty02 ul li:nth-of-type(2){background-color: rgba(255,0,0,0.2);}
        .opacityProperty02 ul li:nth-of-type(3){background-color: rgba(255,0,0,0.3);}
        .opacityProperty02 ul li:nth-of-type(4){background-color: rgba(255,0,0,0.4);}
        .opacityProperty02 ul li:nth-of-type(5){background-color: rgba(255,0,0,0.5);}
        .opacityProperty02 ul li:nth-of-type(6){background-color: rgba(255,0,0,0.6);}
        .opacityProperty02 ul li:nth-of-type(7){background-color: rgba(255,0,0,0.7);}
        .opacityProperty02 ul li:nth-of-type(8){background-color: rgba(255,0,0,0.8);}
        .opacityProperty02 ul li:nth-of-type(9){background-color: rgba(255,0,0,0.9);}
        .opacityProperty02 ul li:last-of-type{background-color: rgba(255,0,0,1);}


        /*
            opacity의 값은 객체의 투명도를 설정 하며 0 ~ 1 로 규정 할 수 있고 1/100 % 로 표현된다.
        */



        .shadowProperty h1{text-shadow:5px 10px 10px #666;}
        .shadowProperty p{width:300px; height:300px; border:3px solid #f00; box-shadow:8px 10px 2px 0px #fc9393;}
        .shadowProperty p:last-child{box-shadow:inset 8px 10px 2px #fc9393;}

        /*
    shadow:  
            우측으로 간격, 
            하단으로 간격, 
            흐림도(우측,하단간격 너비의 영향 받음), 
            크기
            그림자컬러 또한 속성값 앞에 inset을 삽입하면 
            내부 그림자 효과로 전환 가능

    보다 쉽게 만들기
    http://css3generator.com 에서 값입력후 소스코드생성
        */


        .redG {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff0202+0,ffffff+100&1+0,0+100 */
        background: -moz-linear-gradient(left,  rgba(255,2,2,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(255,2,2,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(255,2,2,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0202', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

        
        /*
            linear-gradient : 그라디언트의 형태 ex> radial-gradient 는 원형 그라디언트
            deg : 그라디언트의 각도
            #color ?% : 색상블록 으로 컬러와 위치
        */
        }
        
        /* 
            VenderPrefix
            -webkit- :  사파리, 크롬
            -moz-​ : 파이어폭스
            -o-​ : 오페라
            -ms- : 인터넷 익스프롤러
        */
        /* http://www.colorzilla.com/gradient-editor 에서 제작 가능*/