*{margin: 0; padding: 0;}
html{height:100%;}
body{margin:0; height:100%; font-family:Arial; background-color:black;}
body > div{ height:100%;}
div div{width:50%; height:50%; min-height:295px; 
        position:absolute; top:25%; left:25%;  min-height: 295px;
        background-color:#262626;
        /* opacity: 0; left: 0; */
}
div div nav ul:after{content:'';display:block;visibility:hidden;clear:both;}
div div nav ul li{float:left; width:25%; display:block; background-color:#3b3b3b;}
div div nav ul li a{display:inherit; text-decoration:none; text-align:center; padding:10px 0; font-size:12px;color:#ea0e52; text-transform:capitalize;}
div div nav ul li a:hover,div div ul li.currentStat a{
        background-color:#ea0e52;color:white;}

div div h1{font-size:14px; color:white; margin:25px 0; text-transform:capitalize; text-align:center;}
div div fieldset
{border:none; width:90%; margin:0 auto;}
div div fieldset ul
{margin:0; padding:0;list-style:none;}
div div fieldset ul li
{overflow:hidden; margin-bottom:25px;}
div div fieldset ul li label
{width:15%; display:block; float:left; text-align:center; 
        background-color:#ea0e52; padding:12px 0; font-size:12px;
                text-transform:uppercase; font-weight:bold; color:white;}
div div fieldset ul li input
{width:80%; border:none; font-size:12px; padding:12px 2.5%;}
div div fieldset ul li input:focus
{background-color:#ea0e52;}
div div fieldset ul li input[type='password']:focus
{color:white;}

div div input[type='submit']
{width:90%; margin:0 auto; border:none; display:block; 
        padding:10px 0; background-color:#3e3e3e; color:#ea0e52;}
div div input[type='submit']:hover
{background-color:#ea0e52; color:black;}

input[type="checkbox"]{display: none;}
input[type="checkbox"] + label{color: #ea0e52; font-size: 30px;}
/* input[type="checkbox"] ~ div{opacity: 0; transition-duration: 1s; left: 0%;} */
input[type="checkbox"]:checked ~ div{display: none; }
/* input[type="checkbox"]:checked ~ div{opacity: 1; left: 25%;} */
input[type="checkbox"]:checked + label{color: white;}