*{
    margin: 0;
    padding: 0;
}
body{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

ul{
    text-align: left;
    list-style: none;
    margin-bottom: 20px;
}

ul li:first-child{
    background-color: #505050;
}

ul li:not(:first-child):nth-child(2n + 1){
    background-color: #e9e9e9;
}


ul li:nth-child(2n + 3):hover{
    background-color: #aee1ff;
}


ul li:nth-child(even):hover{
    background-color:#b5b2ff; 
}

ul li::after{content: ''; display: block; visibility: hidden; clear: both;}

ul li span{
    float: left;
    font-size: 14px;
    text-transform: capitalize;
    color: #999;
    padding:15px 2%;
    box-sizing: border-box;
}

ul li:nth-child(1) span:nth-child(2){
    color: #a68fff;
}

ul li span:nth-child(2n + 1){
    width: 15%;
}

ul li span:nth-child(2){
    width: 40%;
    color: #00ccff;
}

ul li span:last-child{
    width: 10%;
}

div{
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

div a{
    line-height: 23px;
    text-decoration: none;
    color: #555555;
}

div > a{
    position: absolute;
}

div > a:nth-child(1){left: -30px; top: 0;}
div > a:nth-child(2){right: -30px; top: 0;}

div ol{
    display: inline-block;
}
div ol li{
    display: inline-block;
}

div ol li a{
    display: block;
    text-align: center;
    padding: 0 20px;
    border-radius: 5px;
}

div ol li:hover a{
    background-color: #0cf;
}

form fieldset{
    border: none;
}

form fieldset input[type="search"]{
    width: 175px;
    height: 20px;
    border:1px solid #e1e1e1;
}

form fieldset input[type="submit"]{
    border: 1px solid #0094ff;
    background-color: #e9e9e9;
    text-transform: uppercase;
    color: #333;
    width: 22px;
    height: 20px;
}

