* {margin: 0; padding: 0;}

.Box {width: 600px; height: 550px; margin: 10px auto; position: relative;}

.menu {width: 200px; height: 50px; text-align: center; position: absolute; top: 0; left: 0; line-height: 50px;}
.first {background-color: turquoise;}
.second {background-color: brown; left: 200px;}
.third {background-color: teal; left: 400px;}

.contents {width: 600px; height: 500px; background-color: tomato; position: absolute; top: 50px; left: 0;}


.first:hover ~ .one {background-color: turquoise; z-index: 10;}
.second:hover ~ .two {background-color: brown; z-index: 10;}
.third:hover ~ .three {background-color: teal; z-index: 10;}

/* 호버 잘 안되던게 선택자문제였네. 선택자 잘 기억해야겠다. 동일선상에 있는 형제태그를 불러오는거니까 ~. */