* {margin: 0; padding: 0;}

body > div {width: 80%; background-color: papayawhip; margin: 0 auto;}
header {height: 140px; background-color: khaki;}
nav {height: 80px; background-color: lawngreen;}

div {height: 500px; background-color: lightcoral; margin: 10px auto;}
div::after {content: ''; display: block; visibility: hidden; clear: both;}
aside {width: 20%; height: 100%; background-color: mediumorchid; float: left;}
section {width: 80%; height: 100%; background-color: peru; float: left;}
article {width: 100%; height: 20%; background-color: olive;}
section p {margin-bottom: 10px;}
p {padding: 2px 0;}

footer {height: 80px; background-color: lightseagreen; margin: 10px auto;}