* {margin: 0; padding: 0;}

.wrap {width: 960px; margin: 0 auto;}

.wrap header {width: 100%; height: 80px; background-color: turquoise; text-align: center; position: relative; top: 0; left: 0;}
.wrap header h1 {width: 40%; height: 50px; display: inline-block; color: white; background-color: blue; line-height: 50px;}
.wrap header nav {width: 100%; height: 30px; background-color: teal;}
.wrap header nav::after {content: ''; display: block; visibility: hidden; clear: both;}
.wrap header nav ul {display: inline-block;}
.wrap header nav ul li {color: white; float: left; list-style: none; padding: 0 5px; line-height: 30px; text-align: center}
.wrap header form {position: absolute; top: 40px; left: 75%;}

.wrap section {width: 100%;}
.wrap section::after {content: ''; display: block; visibility: hidden; clear: both;}
.wrap section div {width: 30%; border: 1px solid black; margin: 20px 0; box-sizing: border-box; float: left;}
.wrap section div.second {margin: 20px 5%;}
.wrap section div ol li {list-style: none;}


.wrap footer {height: 80px; background-color: cadetblue; color: white; text-align: center; line-height: 80px;}