* {margin: 0; padding: 0;}

.wrap {width: 80%; height: 500px; margin: 100px auto;}
.wrap::after {content: ''; display: block; visibility: hidden; clear: both;}

.wrap .left, .wrap .right {width: 50%; height: 100%; float: left;}

.wrap .left div {width: 50%;}
.Box1 {background-color: darkgrey; height: 100%; float: right;}
.Box1 ~ div {height: 50%; float: left;}
.Box2 {background-color: teal;}
.Box5 {background-color: violet;}

.wrap .right div {width: 50%; height: 50%; float: left;}
.Box3 {background-color: thistle;}
.Box4 {background-color: turquoise;}
.Box6 {background-color: brown;}
.Box7 {background-color: coral;}