* {margin: 0; padding: 0;}

.wrap {width: 80%; height: 1500px; margin: 50px auto;}
.wrap::after {content: ''; display: block; visibility: hidden; clear: both;}
.wrap div:nth-child(2n-1) {float: left; width: 50%;}
.wrap div:nth-child(2n) {float: right; width: 50%;}

.Box1 {height: 150px; background-color: darkgray;}
.Box1 ~ div {height: 300px;}

.Box2 {background-color: teal;}
.Box3 {background-color: thistle;}
.Box4 {background-color: turquoise;}
.Box5 {background-color: violet;}
.Box6 {background-color: brown;}
.Box7 {background-color: coral;}