*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    height: 100%;
}
.wrap{
    font-size: 30px;
    width: 1000px;
    height: 100%;
    background-color: #555;
}
.wrap div{
    height: 100px;
}
div .percent{
    width: 50%;
    background-color: #06F;
}

div div.rem{
    width: 10rem;
    background-color: #F93;
}

div div.em{
    width: 10em;
    background-color: #F60;
}

div div.viewport{
    width: 50vw;
    background-color: #96C;
}

/* 
    % : 부모 너비의 백분율
    rem (root em) :  rem 단위는 브라우저의 기본 font-size영향을 받는다. ( html font-size )
    em : em은 단위가 입력된 요소에서 가장 가까운
    !(동위선상제외, 자신포함, 기본 부모)
    * font-size의 영향을 받는다.
    vw : 브라우저 너비의 백분율
    vh : 브라우저 높이의 백분율
*/